.common-bg-color{
    background-color: rgba(255, 145, 0, 0.377) !important;
}
.padding-left-0px{
    padding-left: 0px !important;
}
.padding-right-0px{
    padding-right: 0px !important;
}
.padding-top-0px{
    padding-top: 0px !important;
}
.padding-bottom-0px{
    padding-bottom: 0px !important;
}
.padding-all-0px{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.padding-col-lg-9{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.padding-col-lg-3{
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.padding-dropdown-all{
    padding-top: 10px !important;
    padding-right: 25px !important;
    padding-bottom: 10px !important;
    padding-left: 25px !important;
}
.position-absolute{
    position: absolute !important;
}
.position-right-10-perc{
    right: 10% !important;
}
.position-top-10-perc{
    top: 10% !important;
}
.position-top-20-perc{
    top: 16% !important;
}
.custom-padding-form{
    padding:10px 20px !important;
}
.custom-height-5-perc{
    height:5% !important;
}
.text-align-left{
    text-align:left !important;
}
.text-align-right{
    text-align:right !important;
}
.text-align-center{
    text-align:center !important;
}
.text-color-red{
    color:red !important;
}
.margin-right-0px{
    margin-right: 0px !important;
}
.margin-left-0px{
    margin-left:0px !important;
}
.modal-backdrop.show {
  display: none !important;
}
.modal-custom-prop{
  display: flex !important;
  align-items: center !important;
}
.font-size-max{
  font-size : 100px !important;
}
.status-green{
  color:green !important;
}
.status-red{
  color: red !important;
}
.status-gold{
  color:gold !important;
}
.modal-open .modal {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.font-style-sirin-stencil{
  font-family: 'Sirin Stencil' !important;
}
.font-style-ribeye{
  font-family: 'Ribeye' !important;
}
.background-color-red{
  background-color: #ee1c1c4d !important;
}
.background-color-green{
  background-color: #25ca255e !important;
}
.width-100-perc{
  width:100% !important;
}
.padding-top-20px{
  padding-top: 36px !important;
}
.background-color-nav-bar{
  background-color: #e9ecef !important;
}
.padding-right-55px{
  padding-right: 55px !important;
}
.padding-right-115px{
  padding-right: 217px !important;
}
.background-color-white{
  background: #ffffff00 !important;
}
.margin-top-75px{
  margin-top: 75px !important;
}
.border-1px{
  border:1px solid !important;
  border-radius: 10px !important;
}
.color-blue{
  background-color:#85e29657 !important;
}
.margin-top-10px{
  margin-top:10px !important;
}
.fa-5x {
  font-size: 5em !important;
}
.float-right{
  float: right !important;
}
.padding-top-12px-card{
  padding-top: 12px !important;
}
.large-font-card{
  font-size:45px !important;
}
.card-icon-details{
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    padding-left: 10% !important;
}
.font-size-x-large{
  font-size: large !important;
}
.font-align-card {
  text-align: right !important;
  padding-right: 30px !important;
}
.slider-content-border{

  margin: 15px;
  padding: 20px;
  background-color: #343a4066;
}
.slider-image-border{

  margin: 15px;
  background-color: #343a4066;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0.25rem;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #00000073 !important;
}
table.table-scroll-fixed{
  tbody {
      display: block;
      height: 30vh;
      overflow-x: auto;
      overflow-y: auto;
      td {
          border-right: 1px solid #e9ecef;
          border-bottom: 1px solid #e9ecef;
          border-top: none;
      }
  }
  thead,
  tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
  }
  thead {
      width: calc( 100% - 0em);
      overflow-wrap: break-word;
      border-bottom: 1px solid #e9ecef;
  }
}
.custom-scroll1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}

.custom-scroll1::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.custom-scroll1::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
}
.font-size-custom{
  font-size: 60px !important;
}
.modal-open {
  overflow: auto;
  padding-right: 0px !important
}
.padding-left-34-perc{
  padding-left: 34%;
}
.colorRed{
border-color:red;
color:red;

}
.colorGreen{
border-color:green;
color:green !important;
}
.btn-custom-style-rounded{
  border-radius: 25px 25px 25px 25px;
  padding-bottom: 10px;
  padding-right: 20px;
}