<template>
  <div class="row">
    <div class="col-lg-12 margin-top-75px border-1px">
      <breadcrum :currentlink = "link" />
      <dataaboutapp />
      <br>
      <div class="card">
        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
              <h5 class="card-title"><strong>Complaint List</strong></h5>
            </div>
            <div class="col-lg-3">
              <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                  Filter for Complaints
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" @click="data='all',complaintFilter(data)">All</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" @click="data='unresolved',complaintFilter(data)">UNRESOLVED</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" @click="data='resolved',complaintFilter(data)">RESOLVED</a>
                </div>
              </div>
            </div>

          </div>
          <br>
            <table class="table table-bordered text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
              <thead>
                <tr style="background-color: #afadad;">
                  <th>Hotel name</th>
                  <th>Circle</th>
                  <th>Complaint Category</th>
                </tr>
              </thead>
              <tbody v-if="datacontentcomplaint===true">

                <tr v-for="(data,i) in complaint_data" :key="i">
                  <td @click="hotelDetailsShow(data)" data-toggle="modal" data-target=".bd-example-modal-lg2">{{data.name_of_hotel}}</td>
                  <td>{{data.district_of_hotel}}</td>
                  <td>{{data.circle_of_hotel}}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="3"><h3 text-align-center>No Complaints Found</h3></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <br>
        <div class="modal fade bd-example-modal-lg2 " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import breadcrum from './breadcrum.vue'
import dataaboutapp from './dataaboutapp.vue'
import RadialProgressBar from 'vue-radial-progress'
import store from '@/store.js'
import { truncate } from 'fs';

export default {
  components: {
    breadcrum,
    dataaboutapp,
    RadialProgressBar
  },
  data () {
    return {
      pdfData:null,
      pdfArea:false,
      datacontentcomplaint: false,
      hotel_details: [],
      hotel_name: null,
      address_of_hotel: null,
      licence_number: null,
      district_name: null,
      circle_name: null,
      lat: null,
      lng: null,
      rating: null,
      inspection_details: [],
      complaint_details: [],
      inspection_details: [],
      complaint_data: [],
      hotel_images: [],
      userDetails:[],
      area_hotel_details:[]

    }
  },
  mounted () {
    this.getHotelList()
    this.getComplaintDetails()

  },
  methods: {
    complaintFilter(data){
      if(data === "all"){
        this.$http.get(process.env.VUE_APP_URL+'/api/complaint_details_from_publics?filter[where][district_of_hotel]='+store.state.fullDetails.current_place[0]+'&filter[where][circle_of_hotel]='+store.state.fullDetails.current_place[1])
          .then(function(res){
            if(res.data.length>0){
              this.complaint_data = res.data
              console.log("COMPLAINT DATA==>",this.complaint_data)
              this.datacontentcomplaint = true
            }else{
              this.datacontentcomplaint = false
            }
          })
      }else if(data === "unresolved"){
        this.$http.get(process.env.VUE_APP_URL+'/api/complaint_details_from_publics?filter[where][district_of_hotel]='+store.state.fullDetails.current_place[0]+'&filter[where][circle_of_hotel]='+store.state.fullDetails.current_place[1]+'&filter[where][status_of_complaint]=UNRESOLVED')
          .then(function(res){
            if(res.data.length>0){
              this.complaint_data = res.data
              console.log("COMPLAINT DATA==>",this.complaint_data)
              this.datacontentcomplaint = true
            }else{
              this.datacontentcomplaint = false
            }
          })
      }else if(data === "resolved"){
        this.$http.get(process.env.VUE_APP_URL+'/api/complaint_details_from_publics?filter[where][district_of_hotel]='+store.state.fullDetails.current_place[0]+'&filter[where][circle_of_hotel]='+store.state.fullDetails.current_place[1]+'&filter[where][status_of_complaint]=RESOLVED')
          .then(function(res){
            if(res.data.length>0){
              this.complaint_data = res.data
              console.log("COMPLAINT DATA==>",this.complaint_data)
              this.datacontentcomplaint = true
            }else{
              this.datacontentcomplaint = false
            }
          })
      }
    },
    getInspectionData(insp){
      const base64 = require('base64topdf');
      this.$http.get(process.env.VUE_APP_URL+'/api/inspection_details')
        .then(function(res){
          console.log('kjaskdnaskd',res,insp,base64)
          for(var i=0;i<res.data.length;i++){
            // console.log(res.data[i].inspectionData)
            if(res.data[i].inspectionData){
              this.pdfArea = true
              if(res.data[i].date === insp){
                this.pdfData = res.data[i].inspectionData
                let decodedBase64 = base64.base64Decode(this.pdfData, 'home/rajasrajeev/Documents/testinspectionpdf.pdf');
                console.log(decodedBase64)
              }
            }else{
              console.log('no pdf available')
            }
          }
        })
    },
    getHotelList () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/hotel_details')
        .then(function (res) {
          // console.log("Hotel datas ==>",res.data)
          if(res.data.length>0){
            this.hotel_details = res.data
          }
          console.log("check",store.state.fullDetails.current_place[0])
          for(var i=0;i<this.hotel_details.length;i++){
            if(this.hotel_details[i].place.district === store.state.fullDetails.current_place[0] && this.hotel_details[i].place.circle === store.state.fullDetails.current_place[1] ) {
              this.area_hotel_details.push(this.hotel_details[i])
              this.datacontenthotel = true
            }
          }
        })
        .catch(function (error) {
          console.log('Error ==> ', error)
        })
    },
    getComplaintDetails () {
      this.$http.get(process.env.VUE_APP_URL+'/api/complaint_details_from_publics?filter[where][district_of_hotel]='+store.state.fullDetails.current_place[0]+'&filter[where][circle_of_hotel]='+store.state.fullDetails.current_place[1])
        .then(function (res) {
          // for(var i=0;i<res.data.length;i++){
          //   if(res.data[i].district_of_complaint === store.state.fullDetails.current_place[0] && res.data[i].district){

          //   }
          // }
          this.complaint_data = res.data
          if(this.complaint_data.length>0){
            this.datacontentcomplaint = true
          }
          console.log('Complaint Data==> ', this.complaint_details)
        })
        .catch(function (error) {
          console.log('Error ==> ', error)
        })
    },
    hotelDetailsShow (details) {
      this.$http.get(process.env.VUE_APP_URL+ '/api/hotel_images')
        .then(function (res) {
          console.log(res.body)
          for (var i = 0; i < res.body.length; i++) {
            if (res.body[i].hotel_name === details.name && res.body[i].hotel_id === details.id) {
              // this.hotel_images = res.body[i].image_names
              console.log('hotel images loaded ==>', this.hotel_images)
            }
          }
          this.complaint_data = []
          var id_of_hotel = details.id
          this.hotel_name = details.name
          this.address_of_hotel = details.address
          this.licence_number = details.licence_number
          this.lat = details.location.lat
          this.lng = details.location.lng
          this.hotel_images = details.images
          this.rating = details.rating
          this.district_name = details.place.district
          this.circle_name = details.place.circle
          this.inspection_details = details.inspection_details
          var final = []
          for (var i = 0; i < this.complaint_details.length; i++) {
            if (this.complaint_details[i].name_of_hotel === this.hotel_name && this.complaint_details[i].id_of_hotel === id_of_hotel) {
              var complaint_type = this.complaint_details[i].category_of_complaint
              var status = this.complaint_details[i].status_of_complaint
              console.log('complaint type', complaint_type, status)
              var result = complaint_type.split(' ')
              console.log('result', result)
              for (i = 0; i < result.length; i++) {
                if (i == 0) {} else { final.push(result[i] + ' ') }
              }
              var value_for_complaint = final.join(' ')
              console.log('value ', value_for_complaint)
              this.complaint_data.push({'value': value_for_complaint, 'status': status})
              console.log('complaint data ==> ', this.complaint_data)
            }
          }
        })
    }
  },
  props: {
    link: {
      type: Array
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
