<template>
  <div class="row">
    <div class="col-lg-12 margin-top-75px border-1px">
      <breadcrum :currentlink = "link" />
      <dataaboutapp />
      <br>
      <div v-if="hotel_create === true" class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Create Hotel</h5>
          </div>
            <div class="row">
              <div class="col-lg-6">
                Enter Hotel Name
                <div class="form-group">
                  <input type="text" class="form-control" v-model="name" placeholder="Enter Hotel Name">
                </div>
                Enter Address
                <div class="form-group">
                  <input type="email" class="form-control" v-model="address" placeholder="Enter Address">
                </div>
                Enter Licence Numbers
                <div class="form-group">
                  <input type="text" class="form-control" v-model="licence_number " placeholder="Enter Licence Number">
                </div>
              </div>
              <div class="col-lg-6">
                Enter Location :
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6">
                      <input type="text" class="form-control" v-model="lattitude" placeholder="Enter Lattitude">
                    </div>
                    <div class="col-lg-6">
                      <input type="text" class="form-control"  v-model="longitude" placeholder="Enter Longitude">
                    </div>
                  </div>
                </div>
                District Of Hotel
                <div class="form-group" >
                  <input type="text" v-model="district_of_hotel" class="form-control" readonly>
                </div>
                Circle Of hotel
                <div class="form-group" >
                  <input type="text" v-model="circle_of_hotel" class="form-control" readonly>
                </div>
                Add hotel images
                <div class="form-group" >
                  <input v-for="(i,idx) in number_array" type="file" class="form-control" ref="fileInputList" accept="image/*"  @change="onImageListPicked" :key="idx"><span><i @click="addinputbox(idx+1)" class="fa fa-2x fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i @click="delinputbox()" class="fa fa-2x fa-minus-circle"></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 offset-lg-5">
                <button class="btn btn-success text-align-center" @click="createhotelsubmit()">Submit</button>
              </div>

            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="inspection === true" class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Add Inspection Details</h3>
          </div>
          <div class="row">
            <div class="col-lg-6">
              District Of Hotel
              <div class="form-group" >
                <input type="text" v-model="district_of_hotel" class="form-control" readonly>
              </div>
              Circle Of hotel
              <div class="form-group" >
                <input type="text" v-model="circle_of_hotel" class="form-control" readonly>
              </div>
            </div>
            <div class="col-lg-6">
              Name of hotel
              <div class="form-group" >
                <select class="form-control" @change="findComplaints()" v-model="name_of_hotel" required>
                  <option value = "" selected disabled>SELECT THE HOTEL</option>
                  <option v-for="(i,index) in selected_hotels" :key="index">{{i}}</option>
                </select>
              </div>
              Complaint Details
              <div class="form-group">
                <select class="form-control" v-model="complaint_id" required>
                  <option value = "" selected disabled>SELECT THE COMPLAINT</option>
                  <option v-for="(i,index) in selectedComplaints" :value="i.id" :key="index">{{i.name_of_hotel}}(Complaint: {{i.category_of_complaint}})</option>
                </select>
              </div>
              Upload the Inspection file
              <div class="form-group">
                <input type="file" id="inputFile" :name="inspection_data" @change="convertToBase64()" class="form-control">
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              Inspection Details
              <multiselect
                v-model="selected"
                :options="options"
                :multiple="true"
                :hideSelected="true"
                :close-on-select="false"
                @input="check()">
              </multiselect>
            </div>
          </div>
            <br>
            <br>
              <div class="row">
                <div class="col-lg-3 offset-lg-6">
                  <button class="btn btn-success text-align-center" @click="inspetionFormSubmit()">Submit</button>
                </div>
              </div>
        </div>
      </div>
      <br>
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content">
            <div class="modal-header ">
              <h5 class="modal-title text-align-center" id="exampleModalLabel">{{modal_title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- assign admin -->
            <div >
              <div class="modal-body" >
                <div class="form-group">
                    Admin Name :
                    <input type="text" class="form-control" :placeholder="admin_name_for_assign">
                    District :
                    <select class="form-control" v-model="district_name" required>
                      <option value="" selected disabled>DISTRICT</option>
                      <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                    </select>
                </div>
              <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  @click="submit_assign_admin(),getadmindata()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script >
import Vue from 'vue';
import breadcrum from "./breadcrum.vue";
import dataaboutapp from "./dataaboutapp.vue";
import UploadImage from 'vue-upload-image';
import Multiselect from 'vue-multiselect'
import store from '@/store'
// import  *  from '@/mdbootstrap'
export default {
  components: {
    breadcrum,
    dataaboutapp,
    UploadImage,
    Multiselect
  },
  data() {
    return {
      number_array : [0],
      photo_array : [],
      checkbox_value: [],
      inputimages : null,
      photo : [],
      circle_details_complete : [],
      district_details: [],
      circle_details: [],
      complaint_id:null,
      circle_of_hotel: store.state.fullDetails.current_place[1],
      district_of_hotel: store.state.fullDetails.current_place[0],
      longitude: null,
      lattitude: null,
      name_of_hotel:null,
      licence_number: null,
      address: null,
      name: null,
      selected_hotels: [],
      hotel_details: [],
      inspection_form_data : [],
      imageList: [],
      imageUrlList: [],
      newHotelId: null,
      checkboxValue : [],
      selectedComplaints:[],
      selectedRating : 0,
      selected : [],
      options:[],
      inspection_data : null,
      complaint_hotel_name : null
    };
  },
  props: {
    link: {
      type: Array
    },
    inspection:{
      type:Boolean,
      twoWay:true,
      default:false
    },
    hotel_create:{
      type:Boolean,
      twoWay:true,
      default:false
    },
    hotellist: {
      type: Boolean,
      twoWay: true,
      default: false
    }
  },
  mounted() {
    this.getadmindata();
    this.getDistricts();
    this.getCircles();
    this.getHotelList();
    this.getInspectionFormData();
  },
  methods: {
    check(){
        this.selectedRating = 0
        for(var i=0; i<this.inspection_form_data.length;i++){
          for(var j=0;j<this.selected.length;j++){
            if(this.selected[j] === this.inspection_form_data[i].audit_question){
              this.selectedRating +=  +this.inspection_form_data[i].scoring
            }
          }
        }
        console.log("score",this.selectedRating,this.inspection_data)
      },
    onPickImageList () {
      this.$refs.fileInputList.click()
    },
    onImageListPicked (event) {
      let selectedFiles = event.target.files || event.dataTransfer.files
      this.imageList = []
      Array.prototype.push.apply(this.imageList, selectedFiles)
      if (!this.imageList.length) {
        return
      }
      this.createImage(this.imageList)
    },
    createImage (file) {
      for (var i = 0; i < file.length; i++) {
        var fileReader = new FileReader()
        // var vm = this

        fileReader.addEventListener('load', () => {
          this.imageUrlList.push(fileReader.result)
          console.log(this.imageUrlList)
        })
        fileReader.readAsDataURL(file[i])
        this.imageList = file[i]
      }
    },
     convertToBase64() {
        var inspection_data = document.getElementById("inputFile").files;
        if (inspection_data.length > 0) {
            var fileToLoad = inspection_data[0];
            var fileReader = new FileReader();
            var base64;
            fileReader.onload = function(fileLoadedEvent) {
                this.inspection_data = fileLoadedEvent.target.result;
                // this.inspection_data = base64
                var object = {
                  inspection_data:this.inspection_data
                }
                store.commit('inspection',object)
                console.log("file==>",this.inspection_data );


            };
            fileReader.readAsDataURL(fileToLoad);
            // console.log(base64)
        }
    },
    inspetionFormSubmit(){
      this.inspectionDate = new Date();
      var dd = this.inspectionDate.getDate();
      var mm = this.inspectionDate.getMonth()+1; //January is 0!
      var yyyy = this.inspectionDate.getFullYear();

      if(dd<10) {
          dd = '0'+dd
      }

      if(mm<10) {
          mm = '0'+mm
      }

      this.inspectionDate = mm + '/' + dd + '/' + yyyy;
      var data = {
        place:{
          district:this.district_of_hotel,
          circle:this.circle_of_hotel
        },
        hotelName:this.name_of_hotel,
        inspectionData:store.state.inspection_data,
        score:this.selectedRating,
        date:this.inspectionDate
      }
      console.log("data from inspection form ==>",data)
      this.$http.post(process.env.VUE_APP_URL+ '/api/inspection_details',data)
        .then(function(res){
          console.log("Inspection data is added successfully")
        })
        .catch(function(error){
          console.log("Error", error)
        })
        var inspDate = []
        var selectedRatings = 0
        for(var i = 0;i<this.hotel_details.length;i++){

          if(this.hotel_details[i].name === this.name_of_hotel && this.hotel_details[i].place.district === this.district_of_hotel && this.hotel_details[i].place.circle === this.circle_of_hotel){

            var inspectionHotelId = this.hotel_details[i].id
            inspDate = this.hotel_details[i].inspection_details
            // console.log(this.hotel_details[i].rating,this.selectedRating)
            if(this.hotel_details[i].rating){
              selectedRatings = (+this.selectedRating + +this.hotel_details[i].rating)/2
            }else{
              selectedRatings = (+this.selectedRating + 0)
            }
            // console.log('selectedRating',selectedRatings)
            this.selectedRating = selectedRatings
            inspDate.push(this.inspectionDate)
            var hoteldata = {
              name : this.hotel_details[i].name,
              address : this.hotel_details[i].address,
              licence_number : this.hotel_details[i].licence_number,
              location: {
                lat:this.hotel_details[i].location.lat,
                lng:this.hotel_details[i].location.lng
              },
              place :{
                district:this.hotel_details[i].place.district,
                circle:this.hotel_details[i].place.circle
              },
              inspection_details : inspDate,
              rating : Math.floor((this.selectedRating/114)*100),
              images:this.hotel_details[i].images
            }
          }
        }
        // console.log("rating,",this.selectedRating)
          console.log("hotel new data", hoteldata)
        this.$http.put(process.env.VUE_APP_URL+ '/api/hotel_details/'+inspectionHotelId,hoteldata)
          .then(function(res){
            console.log("Inspection data added to  hotel details also")
            this.reset()
          })
          .catch(function(error){
            console.log("Error", error)
          })
          var complaintData = []

        for(i = 0;i<this.selectedComplaints.length;i++){
          // console.log(this.complaint_id,this.selectedComplaints[i].id)
          if(this.complaint_id === this.selectedComplaints[i].id){
            complaintData = this.selectedComplaints[i]
          }
          // console.log(complaintData)
        }
        complaintData.status_of_complaint = "RESOLVED"
        // console.log("Complaint details final ===>",complaintData)
        this.$http.put(process.env.VUE_APP_URL+'/api/complaint_details_from_publics/'+this.complaint_id,complaintData)
          .then(function(res){
            console.log("Complaint Status Changed")
          })
          .catch(function(res){
            console.log("Error",res)
          })
    },
    reset(){
      this.selected = []
      this.district_of_hotel = null
      this.circle_of_hotel = null
      this.name_of_hotel = null
      this.inspection_data = null
    },
    addinputbox(i){
      this.number_array.push(i+1)
    },
    delinputbox(){
      this.number_array.pop()
    },
    createhotelsubmit(){
      console.log(this.photo_array)
      var data = {
        name:this.name,
        address:this.address,
        licence_number:this.licence_number,
        location:{
          lat:this.lattitude,
          lng:this.longitude
        },
        rating:'',
        inspection_details:[],
        place:{
          district:this.district_of_hotel,
          circle:this.circle_of_hotel
        },
        images:this.imageUrlList
      }
      console.log("photo ==>",this.imageUrlList)
      this.$http.post(process.env.VUE_APP_URL+ '/api/hotel_details',data)
        .then(function(res){
          console.log("New hotel added")
          setTimeout(5000)

        })
        .catch(function(error){
          console.log("Error when new hotel creation \n ",error)
        })
    },
    getInspectionFormData(){
      this.$http.get(process.env.VUE_APP_URL+ '/api/inspection_form_data')
        .then(function(res){
          this.inspection_form_data = res.data
          for(var i=0;i<this.inspection_form_data.length;i++){
            this.options.push(this.inspection_form_data[i].audit_question)
          }
        })
        .catch(function(res){
          console.log("Error ==>", res)
        })
    },
    findComplaints () {
      this.$http.get(process.env.VUE_APP_URL+'/api/complaint_details_from_publics')
        .then(function(res){
          var complaintData = res.data
          for(var i=0;i<complaintData.length;i++){
            console.log(complaintData[i].district_of_hotel , store.state.fullDetails.current_place[0], complaintData[i].circle_of_hotel ,store.state.fullDetails.current_place[1] ,complaintData[i].name_of_hotel ,this.name_of_hotel && complaintData[i].status_of_complaint)
            if(complaintData[i].district_of_hotel === store.state.fullDetails.current_place[0] && complaintData[i].circle_of_hotel === store.state.fullDetails.current_place[1] && complaintData[i].name_of_hotel === this.name_of_hotel && complaintData[i].status_of_complaint === 'UNRESOLVED'){
              this.selectedComplaints.push(complaintData[i])
            }
          }
          console.log(this.selectedComplaints)
        })
    },
    getHotelList(){
      this.$http.get(process.env.VUE_APP_URL+ '/api/hotel_details')
        .then(function(res){
          this.hotel_details = res.data

          console.log("total hotel data =>", this.hotel_details)
          this.findHotel()
        })
        .catch(function(error){
          console.log("Error ==> ", error)
        })
    },
    findHotel(){
      this.selected_hotels = []
      var array =[]
      for(var i=0;i<this.hotel_details.length;i++){
        console.log("###", this.hotel_details[i].place.district,this.district_of_hotel,this.hotel_details[i].place.district,this.circle_of_hotel)
        if((this.hotel_details[i].place.district === this.district_of_hotel) && (this.hotel_details[i].place.circle === this.circle_of_hotel)){
          // console.log("selected hotels name ==>", this.hotel_details[i].name)

          this.selected_hotels.push(this.hotel_details[i].name)
          // console.log("array", array)
        }
      }
      // this.selected_hotels = array
      console.log("selected hotels", this.selected_hotels)
    },
    getDistricts() {
      this.$http
        .get(process.env.VUE_APP_URL+ "/api/list_of_districts")
        .then(function(response) {
          this.district_details.push(store.state.fullDetails.current_place[0])
          console.log("district ========>",this.district_details)
        })
        .catch(function(error) {
          console.log("Error:", error);
        });
    },
    getCircles(){
      this.$http.get(process.env.VUE_APP_URL+ '/api/circles_details')
        .then(function(res){
          this.circle_details.push(store.state.fullDetails.current_place[1])
          console.log("circle =========>",this.circle_details)
        })
    },
    getadmindata(){
      this.$http.get(process.env.VUE_APP_URL+ '/api/user_details')
        .then(function(res){
          this.user_data = res.data
        })
    }
  }
};
</script>
<style  scoped src="vue-multiselect/dist/vue-multiselect.min.css">
.form-group {
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 10px;
}
</style>
