<template>
    <div class="wrapper font-style-sirin-stencil">
        <!-- Sidebar Holder -->

            <nav id="sidebar" class="background-color-nav-bar">
                <br>
                <br>
                <br>
                  <div class="sidebar-header background-color-nav-bar">
                      <h3 class="font-style-ribeye">EatSafe</h3>
                  </div>

            <ul class="list-unstyled components ">
                <li class="active ">
                    <a href="" @click="reSet()" data-toggle="collapse" aria-expanded="false" >DashBoard</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Services</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a @click="createHotels()">Create Hotels</a>
                        </li>
                        <li>
                            <a @click="addInspections()" href="#">Add Inspection Details</a>
                        </li>
                        <li>
                            <a @click="hotellist()" href="#">Hotel List</a>
                        </li>
                        <li>
                            <a @click="complaint()" href="#">Complaint List</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <topbararea />
            <contenthotel v-if="hotel_list === true" :link="current" />
            <contentarea v-if="create_hotel === true || inspection_details === true" :hotel_create="create_hotel" :inspection="inspection_details" :link="current"/>
            <contentcomplaint v-if="complaint_area === true" :link="current" />
        </div>
    </div>
</template>

<script>
import contentarea from './contentarea.vue'
import topbararea from './topbararea.vue'
import contenthotel from './contenthotel.vue'
import contentcomplaint from './contentcomplaint.vue'
import { AssertionError } from 'assert';

export default {
  components: {
    contentarea,
    topbararea,
    contenthotel,
    contentcomplaint
  },
  props: {
    create_hotel: {
      type: Boolean,
      default: false
    },
    hotel_list: {
      type: Boolean,
      default: true
    },
    inspection_details: {
      type: Boolean,
      default: false
    },
    complaint_area: {
      type: Boolean,
      default: false
    },
    current:{
      type:Array,
      twoWay:true,
      default:['Dashboard']
    }
  },
  data () {
    return {
      // current: ['Dashboard']
    }
  },
  mounted () {
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active')
        $(this).toggleClass('active')
      })
    })
  },
  methods: {
    reSet () {
      this.hotel_list = true
      this.inspection_details = false
      this.create_hotel = false
      this.complaint_area = false
      this.current = ['Dashboard']
    },
    addInspections () {
      this.hotel_list = false
      this.inspection_details = true
      this.create_hotel = false
      this.complaint_area = false
      this.current.push('Add Inspections')
    },
    createHotels () {
      this.hotel_list = false
      this.inspection_details = false
      this.create_hotel = true
      this.complaint_area = false
      this.current.push('Create Hotels')
    },
    hotellist () {
      this.hotel_list = true
      this.inspection_details = false
      this.create_hotel = false
      this.complaint_area = false
      this.current.push('Hotel List')
    },
    complaint() {
      this.complaint_area = true
      this.hotel_list = false
      this.inspection_details = false
      this.create_hotel = false
      this.current.push('Complaint List')
    }
  }
}
</script>

<style>
@import "../../assets/style/css/side-bar.css";
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #e9ecef;
    color: #000;
    -webkit-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    background: #e9ecef;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e9ecef;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e9ecef;
}
#sidebar ul li a:hover {
    color: #000000;
    background: #e9ecef;
}
h3, .h3 {
    font-size: 2.75rem;
}
.bg-light {
    background-color: #8d8d8d !important;
}
</style>
