<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropleft">
                                <a class="nav-link fa fa-bell  " href="#data" data-toggle="dropdown" >profile</a>
                                  <ul class="dropdown-menu" id="data">
                                      <li>
                                          <a class="dropdown-item fa fa-user-circle  " @click="showUserProfile()" data-toggle="modal" data-target="#topbarmodal">&nbsp;&nbsp;&nbsp;<strong>User Profile</strong></a>
                                      </li>
                                      <div class="dropdown-divider"></div>
                                      <li>
                                          <a class="dropdown-item fa fa-gear " @click="settings()" data-toggle="modal" data-target="#topbarmodal">&nbsp;&nbsp;&nbsp;<strong>Settings</strong></a>
                                      </li>
                                      <div class="dropdown-divider"></div>
                                      <li>
                                          <a class="dropdown-item fa fa-sign-out " @click="logout()">&nbsp;&nbsp;&nbsp;<strong>Logout</strong></a>
                                      </li>
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>
      </nav>
      <div class="modal fade" id="topbarmodal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" >
          <div class="modal-content" v-if="settingsContent === true" >
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Settings </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div >
            <div class="modal-body" >

            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">

                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="modal-content" v-if="showUserProfileArea === true" >
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Profile </h5>
              <button @click="showUserProfileArea = false, formShowProfileArea = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div >
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-6">
                  <label>Name :  {{loggedPersonData.name}} </label><br>
                  <label>Email Id :  {{loggedPersonData.email_id}} </label><br>
                  <label>User Name :  {{loggedPersonData.username}} </label><br>
                  <label>Current Officer of :<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; District :  {{loggedPersonData.current_place[0]}} <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Circle : {{loggedPersonData.current_place[1]}}</label>
                </div>
                <div class="col-lg-6">
                  <img class="img-fluid width-100-perc" :src="loggedPersonData.photo" alt="No image found">
                </div>
              </div>
            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                      <button type="submit" class="btn btn-success" @click="formShowProfile()">Edit</button>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="modal-content" v-if="formShowProfileArea === true" >
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Settings </h5>
              <button @click="showUserProfileArea = false, formShowProfileArea = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div >
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-6">
                  <label>Name : </label><input class="form-control" type="text" v-model="name" :placeholder="loggedPersonData.name" />
                  <label>Email id : </label><input type="text" v-model="email_id" :placeholder="loggedPersonData.email_id" class="form-control">
                  <label>User Name :</label><input type="text" v-model="username" :placeholder="loggedPersonData.username" class="form-control">
                  <label>Password :</label><input type="text" v-model="password" :placeholder="loggedPersonData.password" class="form-control">
                  <label>Confrim Password :</label><input type="text" v-model="confirm_password" :placeholder="loggedPersonData.password" class="form-control">
                  <label>Mobile Number :</label><input type="text" v-model="mb_no" :placeholder="loggedPersonData.mb_no" class="form-control">
                </div>
                <div class="col-lg-6">
                   <img class="img-fluid width-100-perc" :src="loggedPersonData.photo" alt="No image found">
                   <input type="file" @change="onFileChange" :placeholder="loggedPersonData.photo" :name="photo" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="submit" class="btn btn-success" @click="formShowProfileSubmit()">Submit</button>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import store from '@/store.js'

export default {
  data () {
    return {
      loggedPersonData: [],
      settingsContent: false,
      showUserProfileArea: false,
      formShowProfileArea: false,
      name: null,
      username: null,
      password: null,
      mb_no: null,
      email_id: null,
      confirm_password: null,
      photo: null
    }
  },
  mounted () {
    console.log('The login Person is ', store.state.user_name, 'user type is ', store.state.user_type, 'and the id is ', store.state.user_id)
    this.getUserProfile()
  },
  methods: {
    logout () {
      var object = {
        id: null,
        name: null,
        type: null
      }
      store.commit('assign', object)
      this.$router.push('/')
    },
    getUserProfile () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/user_details/' + store.state.user_id)

        .then(function (res) {
          this.loggedPersonData = res.data
          this.name = this.loggedPersonData.name
          this.username = this.loggedPersonData.username
          this.password = this.loggedPersonData.password
          this.confirm_password = this.loggedPersonData.password
          this.mb_no = this.loggedPersonData.mb_no
          this.photo = this.loggedPersonData.photo
          this.email_id = this.loggedPersonData.email_id
          console.log('logged person ===>', this.loggedPersonData)
          console.log('this.loggedPersonData.photo', res.data.photo)
        })
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) { return }
      this.createImage(files[0])
    },
    createImage (file) {
      var photo = new Image()
      var reader = new FileReader()
      var vm = this

      reader.onload = (e) => {
        vm.photo = e.target.result
      }
      reader.readAsDataURL(file)
      // console.log("test ===>",this.photo)
    },
    formShowProfileSubmit () {
      if (this.password === this.confirm_password) {
        var data = {
          name: this.name,
          username: this.username,
          password: this.confirm_password,
          email_id: this.email_id,
          user_type: 'officer',
          mb_no: this.mb_no,
          photo: this.photo,
          current_place: [
            this.loggedPersonData.current_place[0], this.loggedPersonData.current_place[1]
          ]
        }
        console.log('changed data ===>', data)
        this.$http.put(process.env.VUE_APP_URL+ '/api/user_details/' + store.state.user_id, data)
          .then(function (res) {
            alert('Updation success')
            console.log('response =>', res)
          })
          .catch(function (error) {
            console.log('error ==>', error)
          })
      } else {
        alert('username and password doesnot match')
      }
    },
    showUserProfile () {
      this.showUserProfileArea = true
      this.formShowProfileArea = false
      this.allnotification_content = false
      this.notification_content = false
    },
    formShowProfile () {
      this.formShowProfileArea = true
      this.showUserProfileArea = false
      this.allnotification_content = false
      this.notification_content = false
    },
    settings () {
      this.formShowProfile()
    }
  }
}
</script>
