<template>
        <div class="row slider-content-border">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6" v-if="locationAccess===true">
                        <h1 class="font-style-ribeye" style="color:black;"><a href="/">Eat Safe Stay Safe</a></h1>
                            <p class="font-style-sirin-stencil" style="color:black;">
                                Eatsafe helps you to find the safest place for taking food. We are just showing the details of the hotels which what is food and safety officers says about the place.
                                The hotels will be listed out with the ratings which is given by the <a href="http://www.foodsafety.kerala.gov.in/">Office of the Commissioner of Food Safety - Kerala</a>
                                at the time when they inspect the hotel.

                            </p>
                            <div>
                                Click Here to read more
                                <button class="btn btn-outline-secondary"><router-link to="/About">Here</router-link></button>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-align-center" v-if="locationAccess===true">
                            <h1 class="display-3 font-style-ribeye"></h1>
                            <h1 class="display-3 "> Click here to access the location</h1>
                            <button class = "btn btn-success" type="submit" @click="locationAccessing()">Location access</button>
                        </div>
                    </div>
                    <div class="col-lg-12" v-if="locationAccess===false">
                        <h1 class="display-3 font-style-ribeye"><a href=""><strong>Eat Safe Stay Safe</strong></a></h1>
                            <p class="font-style-sirin-stencil" style="color:black;">
                                Eatsafe helps you to find the safest place for taking food. We are just showing the details of the hotels which what is food and safety officers says about the place.
                                The hotels will be listed out with the ratings which is given by the <a href="http://www.foodsafety.kerala.gov.in/">Office of the Commissioner of Food Safety - Kerala</a>
                                at the time when they inspect the hotel.
                            </p>
                            <div>
                                Click Here to read more
                                <button class="btn btn-outline-secondary"><router-link to="/About">Here</router-link></button>
                                <!-- <a href="/about" class="btn btn-outline-secondary">Here</a> -->
                            </div>
                    </div>
                    <div>
                        <br>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" v-if="locationAccess===false">
                        <mapforuser />
                    </div>
                </div>
            </div>

        </div>
</template>

<script>

import mapforuser from './mapforuser.vue'

export default {
  components: {
    mapforuser
  },
  data () {
    return {
      locationAccess: true
    }
  },
  methods: {
    locationAccessing () {
      this.locationAccess = !this.locationAccess
    }
  }
}

</script>

<style lang="scss">

</style>
