<template>
    <div class="slider-image-border" >
       <carousel-3d :autoplay="true" :autoplay-timeout="2400" :display="7">
        <slide :index="0"><img src="../../assets/sliderimages/sliderimage1.jpg"/></slide>
        <slide :index="1"><img src="../../assets/sliderimages/sliderimage2.jpg"/></slide>
        <slide :index="2"><img src="../../assets/sliderimages/sliderimage3.jpg"/></slide>
        <slide :index="3"><img src="../../assets/sliderimages/sliderimage4.jpg"/></slide>
        <slide :index="4"><img src="../../assets/sliderimages/sliderimage5.jpg"/></slide>
        <slide :index="5"><img src="../../assets/sliderimages/sliderimage6.jpg"/></slide>
        <slide :index="6"><img src="../../assets/sliderimages/sliderimage7.jpg"/></slide>
    </carousel-3d>
    </div>
</template>
<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style scoped>
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff !important;
    background: #343a40 !important;
}
.slider-image-border{
    margin: 15px;
    background-color: #343a4066;
}
</style>
