
<template>
    <div >
        <button class="btn btn-success font-style-sirin-stencil" @click="loginAreaClick()" data-toggle="modal" data-target="#formmodal1" >
            LOGIN
        </button>
        <div id = "formmodal1" class="modal font-style-sirin-stencil " tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                 <div class="modal-content" v-if="loginArea === true">
                  <div class="modal-header ">
                    <h5 class="modal-title "><strong>LOGIN FORM</strong></h5>
                  </div>
                     <div class="modal-body ">
                         <form >
                             <div class="row">
                                 <div class="col-lg-12">
                                     <div class="form-group">
                                        <input type="text" :class="{colorRed: uerror,colorGreen: usuccess}" placeholder="USERNAME" @blur="usernameCheck()" v-model="uname" class="form-control" name="uname" >
                                        <span :class="{colorRed: uerror,colorGreen: usuccess}" style="padding-left:25px" >{{umessage}}</span>
                                    </div>

                                    <div class="form-group mt-3 mb-4">
                                        <input type="password" :class="{colorRed: perror,colorGreen: psuccess}" placeholder="PASSWORD" @blur="passwordCheck()" v-model="pswd" class="form-control" name="pswd" >
                                        <span :class="{colorRed: perror,colorGreen: psuccess}" style="padding-left:25px;" >{{pmessage}}</span>
                                    </div>
                                 </div>
                             </div>
                             <div class="form-check text-align-left">
                                 <input type="checkbox" class="form-check-input" value="">Remember Me
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a class="text-align-right" @click="forgetPassword(),reset(),loginArea=false">forgot password</a>
                            </div>
                            <div v-if="alert_value===true" class="alert alert-danger" role="alert" >
                                <p v-if="msg.length">
                                    <ul>
                                        <li v-for="(msg,i) in msg" :key="i">{{ msg }}</li>
                                    </ul>
                                </p>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-5 offset-lg-3 text-align-center">
                                  <button type="button" class="btn btn-outline-success" :disabled='disableSubmitButton' @click="checkForm()">LOGIN</button>
                                     &nbsp;&nbsp;&nbsp;&nbsp;
                                  <button type="button" @click="reset()" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
                <div class="modal-content" v-if="forgetPasswordArea === true">
                  <div class="modal-header ">
                    <h5 class="modal-title "><strong>Forget Password</strong></h5>
                  </div>
                     <div class="modal-body ">
                      <form >
                        <div class="row">
                          <div class="col-lg-12">
                            Username
                            <div class="form-group">
                              <input type="text" name="uname" id="uname" v-model="uname" @blur="usernameCheck()" :class="{colorRed: uerror,colorGreen: usuccess}" placeholder="Enter Username " class="form-control">
                              <span :class="{colorRed: uerror,colorGreen: usuccess}" style="padding-left:25px">{{umessage}}</span>
                            </div>
                            Email
                            <div class="form-group">
                              <input :class="{colorRed: eerror,colorGreen: esuccess}" @blur="emailCheck()" type="email" v-model="emailId" name="emailId" placeholder="Enter the email given at the time of creation" class="form-control">
                              <span :class="{colorRed: eerror,colorGreen: esuccess}" style="padding-left:25px">{{emessage}}</span>
                            </div>
                            Password
                            <div class="form-group">
                              <input :class="{colorRed: rerror,colorGreen: rsuccess}" @blur="passwordForgetCheck()" type="password" v-model="rpswd" name="rpswd" placeholder="Enter a new password" class="form-control">
                              <span :class="{colorRed: rerror,colorGreen: rsuccess}" style="padding-left:25px">{{rmessage}}</span>
                            </div>
                            Confirm Passowrd
                            <div class="form-group">
                              <input :class="{colorRed: cerror,colorGreen: csuccess}" @blur="confirmPasswordCheck()" type="password" v-model="cpswd" name="cpswd" placeholder="Please Re-enter the password" class="form-control">
                              <span :class="{colorRed: cerror,colorGreen: csuccess}" style="padding-left:25px">{{cmessage}}</span>
                            </div>

                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-success" :disabled='disableSubmitButton' @click="checkforgetForm(),forgetPasswordArea=false">LOGIN</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" @click="reset()" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script >
import Vue from 'vue'
import store from '@/store'

export default{
  name: 'login',
  props: {
    login_cookie: false
  },
  data () {
    return {
      details : {},
      value : false,
      uerror:false,
      rerror:false,
      perror:false,
      cerror:false,
      usuccess:false,
      psuccess:false,
      rsuccess:false,
      csuccess:false,
      eerror:false,
      emessage:'',
      rpswd:'',
      esuccess:false,
      cmessage:'',
      rmessage:'',
      emailId:'',
      uname : '',
      alert_value : false,
      umessage : '',
      pmessage : '',
      cpswd:'',
      pswd : '',
      msg : [],
      loginArea : false,
      forgetPasswordArea : false,
      typed : false,
      disableSubmitButton : true,
      userDetails : []
    }
  },
  mounted(){
    this.getUsers()
  },
  watch:{
    uname:function(newval,oldval){
        for(var i=0;i<this.userDetails.length;i++){
          if(newval != ""){
            this.umessage = "Success !"
            this.usuccess = true
            this.uerror = false
          }else{
            this.umessage = 'Username Incorrect !!!'
            this.uerror = true
            this.usuccess = false
            this.disableSubmitButton = true
          }
        }
      },
      pswd:function(newval,oldval){
        for(var i=0;i<this.userDetails.length;i++){
          if(this.userDetails[i].username === this.uname && this.userDetails[i].password === newval){
            // console.log("password",this.userDetails[i].password,newval)
            this.pmessage = "Success !"
            this.psuccess = true
            this.perror = false
            if(this.psuccess===true){
              this.disableSubmitButton = false
            }
          }else if(this.userDetails[i].username === this.uname && this.userDetails[i].password != newval){
            this.pmessage = 'Password Incorrect !!!'
            this.perror = true
            this.psuccess = false
            this.disableSubmitButton = true
          }
        }
      },
      emailId:function(newval,oldval){
        for(var i=0;i<this.userDetails.length;i++){
          if(this.userDetails[i].username === this.uname && this.userDetails[i].email_id === newval){
            console.log(this.userDetails[i].username,newval,this.uname,this.userDetails[i].email_id)
            this.emessage = "Success !"
            this.esuccess = true
            this.eerror = false
          }
          else if(this.userDetails[i].username === this.uname && this.userDetails[i].email_id != newval){
            this.emessage = 'Email Incorrect'
            this.eerror = true
            this.esuccess = false
            this.disableSubmitButton = true
          }
        }
      },
      rpswd:function(newval,oldval){
          if(newval.length >6 ){
            this.rmessage="Success !"
            this.rsuccess = true
            this.rerror = false
          }else if(newval.length < 6){
            this.rmessage = "Password length need to be more than 6 characters"
            this.rerror=true
            this.rsuccess=false
            this.disableSubmitButton = true
          // else if(newval === this.userDetails[i].password){
          //   this.rmessage = "Please input a password that never user before"
          //   this.rerror=true
          //   this.rsuccess=false
          // }
        }
      },
      cpswd:function(newval,oldval){
          if(newval === this.rpswd){
            this.cmessage="Success !"
            this.csuccess = true
            this.cerror = false
            if(this.usuccess===true&&this.esuccess===true&&this.rsuccess===true){
              this.disableSubmitButton = false
            }
          }else if(newval != this.pswd){
            this.cmessage = "Confirm Password is Incorrect"
            this.cerror=true
            this.csuccess=false
            this.disableSubmitButton = false
          }
      }
  },
  methods: {
    usernameCheck(){
      this.getUsers()
      if(this.uname ===''){
         this.umessage = 'Username Required !!!'
         this.uerror = true
         this.usuccess = false
      }
    },
    passwordCheck(){
      this.getUsers()
       if(this.pswd ===''){
         this.pmessage = 'Password Required !!!'
         this.perror = true
         this.psuccess = false
      }
    },
    emailCheck(){
      this.getUsers()
      if(this.emailId === ''){
        this.emessage = 'Email Required'
        this.eerror = true
        this.esuccess = false
      }
    },
    passwordForgetCheck(){
      if(this.rpswd === ''){
        this.rmessage = 'Password Required'
        this.rerror = true
        this.rsuccess = false
      }
    },
    confirmPasswordCheck(){
      this.getUsers()
      if(this.cpswd === ''){
        this.cmessage = 'Confirm Password Required'
        this.cerror = true
        this.csuccess = false
      }
    },
    loginAreaClick(){
      this.loginArea = true
    },
    checkforgetForm(){
      if(this.userDetails.length!=0){
        for(var i=0;i<this.userDetails.length;i++){
          if(this.uname === this.userDetails[i].username && this.emailId === this.userDetails[i].email_id ){
            if(this.cpswd === this.rpswd){
              var data = this.userDetails[i]
              data.password = this.cpswd
              // console.log("object with new password:===>",data)
              this.$http.put(process.env.VUE_APP_URL+'/api/user_details/'+this.userDetails[i].id,data)
                .then(function(res){
                  alert("Your Password is reseted")
                  this.forgetPasswordArea = false
                  this.loginArea = true
                })
            }else{
              console.log("Password Doesn't match")
            }
          }
        }
      }
    },
    reset(){
      this.uname = ""
      this.pswd = ""
      this.umessage = ""
      this.pmessage = ""
      this.uerror = false
      this.perror = false
      this.usuccess = false
      this.psuccess = false
      this.rmessage = ""
      this.csuccess = ""
      this.emessage = ""
      this.eerror = false
      this.cerror = false
      this.rerror = false
      this.rsuccess = false
      this.esuccess = false
      this.csuccess = false
      this.disableSubmitButton = true
    },
    getUsers(){
      this.$http.get(process.env.VUE_APP_URL+'/api/user_details')
        .then(function(res){
          this.userDetails = res.data
        })
    },
    valuechange() {
      this.value = !this.value
      console.log(this.value)
    },
    valuecheck () {
      this.valuereset()
    },
    valuereset: function () {
      this.value = !this.value
      console.log(this.value)
    },
    forgetPassword(){
      this.forgetPasswordArea = true
      this.loginArea = false
    },
    login () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/user_details')
        .then(function (res) {
          console.log(res, res.body)
          for (var i = 0; i < res.body.length; i++) {
            console.log('entered loop')
            this.details = res.body[i]
            if (this.details.username === this.uname && this.details.password === this.pswd && this.details.user_type === 'superadmin') {
              console.log('entered as super admin')
              var object = {
                id: this.details.id,
                name: this.details.name,
                type: this.details.user_type,
                full:this.details
              }
              store.commit('assign', object)
              this.$parent.login_value = true
              this.$router.push('/superadmin')
              break
            } else if (this.details.username === this.uname && this.details.password === this.pswd && this.details.user_type === 'admin') {
              console.log('entered as admin')
              var object = {
                id: this.details.id,
                name: this.details.name,
                type: this.details.user_type,
                full:this.details
              }
              store.commit('assign', object)
              this.$parent.login_value = true
              this.$router.push('/admin')
              break
            } else if (this.details.username === this.uname && this.details.password === this.pswd && this.details.user_type === 'officer') {
              console.log('entered as officer')
              var object = {
                id: this.details.id,
                name: this.details.name,
                type: this.details.user_type,
                full:this.details
              }
              store.commit('assign', object)
              this.$parent.login_value = true
              this.$router.push('/officer')
              break
            } else {
              if (i == 0) {
                this.msg.push('Username or Password is incorrect Please try again..')
                this.alert_value = true
              }
            }
          }
        })
        .catch(function (error) {
          console.log('Error:', error)
          alert('ERROR !!!' + '\n' + error.body.error.message)
        })
    }
  }
}

</script>

<style lang="scss">
.form-inline .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

.padding-left-34-perc{
    padding-left: 34%;
}
.colorRed{
  border-color:red;
  color:red;
  .form-control{
    background-color: red
  }
}
.colorGreen{
  border-color:green;
  color:green !important;
}

</style>
