<template>
  <div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-8">
                  <h3>Here is your location</h3>
                    <p style="color:#000"> To see nearest hotels click here</p>
                    <button class="btn btn-outline-success" @click="plotHotels"> Click Me</button>

              </div>
              <div class="col-lg-4">
                  <h3>Search for another location</h3>
                  <gmap-autocomplete  @place_changed="setPlace"></gmap-autocomplete>
                    <button @click="addMarker">Search</button>
              </div>
          </div>
      </div>
      <br />
      <br />
      <div class="container-fluid">
        <!--  -->
        <div class="row">
            <div class="col-lg-12">
                                 <!-- <testmap /> -->
                 <gmap-map :center="center" :zoom="12" style="width:100%;  height: 400px;">

                     <gmap-marker :animation = 1 :key="index" v-for="(m, index) in markers" :position="m.position" @click="center=m.position"  ></gmap-marker>
                     <gmap-marker  :animation = 2 :key="index" v-for="(m, index) in hotellist" :position="m.position" @click="toggleInfoWindow(m,index)">
                      </gmap-marker>
                         <gmap-info-window  :options="infoOptions" :position="infowindowposition" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                            <div v-html="infoContent"></div>
                         </gmap-info-window>

                 </gmap-map>

            </div>

        </div>
      </div>
    <!-- hotel details -->
      <div class="modal fade bd-example-modal-lg2 " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
      <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 text-align-center">
             <h3><strong><u>
                {{hotel_name}}</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </strong></h3>
            </div>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col-lg-6 text-align-center">
              <h6 class="text-align-left">
                <strong>Name :</strong> {{hotel_name}}
              </h6>
              <h6 class="text-align-left">
                <strong>Address :</strong> {{address_of_hotel}}
              </h6>
              <h6 class="text-align-left">
                <strong>Licence Number :</strong> {{licence_number}}
              </h6>
              <br>
              <div class="card">
                      <div class="card-body">
                        <div class="card-header"  >
                            <b><u>Previous Registered Complaints</u></b>
                        </div>
                        <div v-if="complaint_data.length>0" class="card-text background-color-red">
                          <ul v-for="(data,i) in complaint_data" :key="i">
                            <li>
                              <h6><strong>1. {{data.value}}</strong></h6>
                              <h6><strong>STATUS : <span v-if="data.status === `RESOLVED`" class="status-green">{{data.status}}</span><span v-else  class="status-red">{{data.status}}</span></strong></h6>
                            </li>
                          </ul>
                        </div>
                        <div v-else class="card-text">
                            <h6><strong>No Registered Complaints</strong></h6>
                        </div>
                      </div>
                    </div>
                            <br>
              <div class="card background-color-green">
                <div class="car-body ">
                  <div class="card-header ">
                    <h6>
                      <strong>
                        Ratings from Food and Safety Officer
                      </strong>
                    </h6>
                  </div>
                    <div class="row">
                      <div v-if="rating!=null" class="col-lg-4 offset-lg-2">

                        <radial-progress-bar :diameter="200"
                       :completed-steps="rating"
                       :total-steps="100"
                       :animateSpeed = "1500"
                       :fps="100">
                        <h1 class="font-size-custom">{{rating}}%</h1>
                        </radial-progress-bar>
                      </div>
                      <div v-else class="col-lg-4 offset-lg-4">
                          <h6 class="text-align-center">Sorry not yet rated</h6>
                      </div>
                    </div>
                </div>
              </div>
              <br>
              <div class="card">
                      <div class="card-body">
                        <div class="card-header">
                          <h6>
                            <strong>
                            Inspection details
                            </strong>
                          </h6>
                          <div class="card-text">
                            <ul v-if="inspection_details.length!=0" v-for="(ins,i) in inspection_details" :key="i">
                              <li>{{ins}}</li>
                            </ul>
                            <ul v-else>
                              No Inspection Details Found
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
              <br>
            </div>
            <div class="col-lg-6">
              <div class="border-box" v-for="(im,i) in hotel_images" :key="i">
                <img class="img-fluid" style="width:100%"  :src="im" alt="No image found" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { resolve } from 'bluebird'
import RadialProgressBar from 'vue-radial-progress'

export default {

  name: 'GoogleMap',
  components: {

    RadialProgressBar

  },
  data () {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      icon: '../assets/img/icon/blue_marker.png',
      center: {},
      markers: [],
      places: [],
      coords: {},
      hotels: [],
      hotellist: [],
      currentPlace: null,
      button_click: false,
      input: '',
      distance: null,
      duration: null,
      map: null,
      infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoWinOpen: false,
      currentMidx: null,
      // optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      infowindowposition: {},
      hotels_not_found: false,
      rating: null,
      current_place: '',
      infowindovalue: false,
      image_path: [],
      hotel_images: [],
      hotel_name: '',
      address_of_hotel: '',
      licence_number: '',
      complaint_details:[],
      complaint_data:[],
      inspection_details:null,
    }
  },

  mounted () {
    this.geolocate()
    this.gethotels()
    this.map()

  },

  methods: {
    // receives a place object via the autocomplete component
    setPlace (place) {
      this.currentPlace = place
      this.hotels_not_found = false
    },
    getComplaintDetails () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/complaint_details_from_publics')
        .then(function (res) {
          console.log('response from complaint details from public')
          this.complaint_details = res.data
          console.log('hotel data ==> ', this.complaint_details)
        })
        .catch(function (error) {
          console.log('Error ==> ', error)
        })
    },
    getImages (hotelname, hotelid) {
      this.$http.get(process.env.VUE_APP_URL+ '/api/hotel_details')
        .then(function (res) {
          console.log(res.body)
          for (var i = 0; i < res.body.length; i++) {
            if (res.body[i].name === hotelname && res.body[i].id === hotelid) {
              this.hotel_images = res.body[i].images
              console.log('hotel images loaded')
            }
          }
        })
    },
    gethotels () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/hotel_details')
        .then(function (res) {
            this.getComplaintDetails()
          for (var i = 0; i < res.body.length; i++) {
            var hname = res.body[i].name
            var haddress = res.body[i].address
            var hnumber = res.body[i].licence_number
            var hrating = res.body[i].rating
            var hlat = res.body[i].location.lat
            var hlng = res.body[i].location.lng
            var hid = res.body[i].id
            var himg = res.body[i].images
            var insp = res.body[i].inspection_details
            console.log(hname, haddress, hnumber, hlat, hlng, hrating)
            this.hotels.push({
              name: hname,
              address: haddress,
              licence_number: hnumber,
              rating: hrating,
              position: {
                lat: hlat,
                lng: hlng
              },
              id: hid,
              images:himg,
              inspection_details:insp
            })
          }
        })
    },
    addMarker () {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }

        this.markers = []
        this.markers.push({ position: marker })
        this.places.push(this.currentPlace)
        this.center = marker
        this.currentPlace = null
        this.hotellist = []
      }
    },
    geolocate: function () {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
        this.markers = []
        this.markers.push({ position: this.center })
      })
    },

    plotHotels () {
      this.findHotels()
      this.button_click = true
    },
    findHotels: function () {
      this.hotellist = []
      for (var i = 0; i < this.hotels.length; i++) {
        this.calculate_distance_via_road(i, this.markers[0].position.lat, this.markers[0].position.lng, this.hotels[i].position.lat, this.hotels[i].position.lng)
          .then((data) => {
            this.distance = data.distance
            this.duration = data.duration
            // console.log('after execution ', data)
            // console.log('distance', data.distance)
            var dist = data.distance.split(' ')
            // console.log('name : ', this.hotels[data.i].name)
            // console.log('distance trimmed: ', dist[0])
            if (dist[0] < 10.0) {
              this.hotellist.push({
                name: this.hotels[data.i].name,
                location: this.hotels[data.i].location,
                address: this.hotels[data.i].address,
                licence_number: this.hotels[data.i].licence_number,
                position: {
                  lat: this.hotels[data.i].position.lat,
                  lng: this.hotels[data.i].position.lng
                },
                inspection_details:this.hotels[data.i].inspection_details,
                rating: this.hotels[data.i].rating,
                distance: this.distance,
                duration: this.duration,
                id: this.hotels[data.i].id

              })
            } else {
              this.hotels_not_found = true
            }
          })
      }
      if (this.hotels_not_found === true) {
        alert('No hotels found in your location, You can suggest one if you know one')
      }
      // console.log(this.hotels.length)
    },
    calculate_distance_via_road (i, lat1, lng1, lat2, lng2) {
      var orgin = new google.maps.LatLng(lat1, lng1)
      var dest = new google.maps.LatLng(lat2, lng2)
      var service = new google.maps.DistanceMatrixService()
      return new Promise((resolve) => {
        service.getDistanceMatrix({
          origins: [orgin],
          destinations: [dest],
          travelMode: google.maps.TravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC,
          avoidHighways: false,
          avoidTolls: false
        }, function (response, status) {
          if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != 'ZERO_RESULTS') {
            this.distance = response.rows[0].elements[0].distance.text
            this.duration = response.rows[0].elements[0].duration.text
            resolve({
              i: i,
              distance: this.distance,
              duration: this.duration
            })
            // console.log('distance : ', this.distance, ' duration : ', this.duration)
          } else {
            alert('Unable to find the distance via road.')
          }
        })
      })
    },
    toggleInfoWindow: function (marker, idx) {
      // console.log('inside function marker', marker)

      this.infowindowposition = marker.position
      // console.log('infowindow', this.infowindowposition)
      this.infoContent = this.getInfoWindowContent(marker)
      this.hotel_name = marker.name
      this.address_of_hotel = marker.address
      this.licence_number = marker.licence_number
      this.rating = marker.rating
      // console.log('rating', this.rating)
      this.getImages(marker.name, marker.id)
      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen
      }
      // if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
      this.inspection_details = marker.inspection_details
      // console.log("insection data =========>",this.inspection_details,marker.inspection_details)
      var final = []
      // console.log("test ==>",marker.id,this.hotel_name,this.complaint_details)
      for (var i = 0; i < this.complaint_details.length; i++) {
        // console.log(marker.id, this.complaint_details[i].id_of_hotel,this.complaint_details[i].name_of_hotel,this.hotel_name)
            if (this.complaint_details[i].name_of_hotel === this.hotel_name && this.complaint_details[i].id_of_hotel === marker.id) {
              var complaint_type = this.complaint_details[i].category_of_complaint
              var status = this.complaint_details[i].status_of_complaint
              // console.log("complaint type", complaint_type,status)
              var result = complaint_type.split(' ')
              // console.log("result" ,result)
              for (i = 0; i < result.length; i++) {
                if (i == 0) {} else { final.push(result[i] + ' ') }
              }
              var value_for_complaint = final.join(' ')
              // console.log("value ", value_for_complaint)
              this.complaint_data.push({'value': value_for_complaint, 'status': status})
              // console.log("complaint data ==> ", this.complaint_data)
            }
          }
    },
    getInfoWindowContent: function (marker) {
      return (`<div class="row font-style-sirin-stencil">
                  <div class="col-sm-12">
                    <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg2" ><u> ${marker.name}</u></a>
                    <br />
                    <br />
                    <p>Distance : ${marker.distance}</p>
                    <p>Duration : ${marker.duration}</p>
                  </div>
                 </div>`)
    }

  }
}
</script>

<style lang="scss">

.p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}
</style>
