<template>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand font-style-ribeye" style="color:red !important; font-size:55px;" href="/">EatSafe</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <div class="dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#dropdown-forms" href="">FORMS<span class="sr-only">(current)</span></a>
              <div id="dropdown-forms" class="dropdown-menu">
                  <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg-form" href="#">COMPLAINT FORM</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg" href="#">SUGGESTION FORM</a>
              </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/About">ABOUT US</a>
        </li>
      </ul>
      <div class="form-inline my-3 my-lg-0">
        <loginportion />
      </div>
    </div>
  </nav>
  <div class="modal fade bd-example-modal-lg-form " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class = "text-align-center">COMPLAINT FORM</h1>
        </div>
        <div class="modal-body">

          <div class="container-fluid">
            <form>
              <div class="row">
                <div class="col-lg-6 padding-top-20px">
                  <div class="form-group">
                    <input type="text" :class="{colorRed: nerror,colorGreen: nsuccess}" placeholder="FIRST NAME" @blur="checkName()" v-model="first_name" class="form-control" required>
                    <span :class="{colorRed: nerror,colorGreen: nsuccess}" style="padding-left:25px">{{nmessage}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group" >
                    <label :class="{colorRed: cerror,colorGreen: csuccess}">Circle Of hotel</label>
                    <select class="form-control" @change="findHotel()" @blur="checkCircles()" v-model="circle_of_hotel" :class="{colorRed: cerror,colorGreen: csuccess}" required>
                        <option v-for="(i,index) in circle_details_complete" :key="index">{{i}}</option>
                    </select>
                    <span :class="{colorRed: cerror,colorGreen: csuccess}" style="padding-left:25px">{{cmessage}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 padding-top-20px">
                  <div class="form-group">
                    <input type="text" :class="{colorRed: nerror,colorGreen: nsuccess}" placeholder="LAST NAME" @blur="checkName()"  v-model="last_name" class="form-control" required>
                    <span :class="{colorRed: nerror,colorGreen: nsuccess}" style="padding-left:25px">{{nmessage}}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group" >
                    <label :class="{colorRed: herror,colorGreen: hsuccess}">Name of Hotel</label>
                    <select class="form-control" v-model="name_of_hotel" @blur="checkHotels()" :class="{colorRed: herror,colorGreen: hsuccess}" required>
                        <option v-for="(i,index) in selected_hotels" :key="index">{{i}}</option>
                    </select>
                    <span :class="{colorRed: herror,colorGreen: hsuccess}" style="padding-left:25px">{{hmessage}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 padding-top-20px">
                  <div class="form-group">
                    <input type="text" placeholder="MOBILE NUMBER" v-model.number="mobile_number" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Category of Complaint</label>
                    <select class="form-control" v-model="category_of_complaint" required>
                        <option selected disabled>SELECT CATEORY OF COMPLAINT</option>
                        <option>1. Cleanliness Issue</option>
                        <option>2. Staff Behaviour</option>
                        <option>3. High Rates</option>
                        <option>4. Poor Food Quality</option>
                        <option>5. Hygiene</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 padding-top-20px">
                  <div class="form-group">
                    <input type="text" placeholder="EMAIL ID" v-model="email_id" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6" style="padding-top: 9px;">
                  <div class="form-group">
                    <textarea placeholder="DETAILS OF COMPLAINT" v-model="details_of_complaint" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 padding-top-20px" >
                  <div class="form-group">
                    <textarea type="text" placeholder="ADDRESS OF COMPLAINEE" v-model="address_of_complainee" class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label>Input the images:</label>
                  <div class="form-group">
                    <input type="file" placeholder="SELECT PROOF OF COMPLAINT" @change="onFileChange" name="proof_of_complaint" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 offset-lg-3 padding-top-20px">
                  <div class="form-group" >
                    <label :class="{colorRed: derror,colorGreen: dsuccess}">District Of Hotel</label>
                    <select class="form-control" @change="findName()" @blur="checkDistricts()" :class="{colorRed: derror,colorGreen: dsuccess}" v-model="district_of_hotel" required>
                        <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                    </select>
                    <span :class="{colorRed: derror,colorGreen: dsuccess}" style="padding-left:25px">{{dmessage}}</span>
                  </div>
                </div>
              </div>
              <br>
              <br>

              </form>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
                <div class=" col-lg-12 text-align-center">
                  <input type="button" class="btn btn-success" :disabled="disabledbutton" value="SUBMIT" @mouseover="checkForm()">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal for suggestion form -->
    <div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="text-align-center">Suggestion Form</h1>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="form-group" >
                      <label> District Of Hotel</label>
                        <select class="form-control" @change="findName()" v-model="district_of_hotel" required>
                          <option value="" selected disabled>DISTRICT OF HOTEL</option>
                          <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                        </select>
                    </div>
              </div>
              <div class="col-lg-6 padding-top-20px">
                 <div class="form-group">
                    <input type="text" placeholder="Name of Suggesting person" v-model="name_of_suggesting_person" class="form-control" required>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 ">
                <div class="form-group" >
                        <label>Circle of Hotel</label>
                        <select class="form-control"  v-model="circle_of_hotel"  required>
                          <option value="" selected disabled>CIRCLE OF HOTEL</option>
                          <option  v-for="(i,index) in circle_details" :key="index" >{{i.circle_name}}</option>
                        </select>
                    </div>
              </div>
              <div class="col-lg-6 padding-top-20px" >
                <div class="form-group">
                   <textarea placeholder="Address of suggesting person" v-model="address_of_suggesting_person" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                      <input type="text" placeholder="Hotel name" v-model="name_of_hotel" class="form-control" required>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
                <div class=" col-lg-12 text-align-center">
                  <button class="btn btn-success" @mouseover="checkFormSuggestion()" :disabled="disabledbutton" data-dismiss="modal">SUBMIT</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import loginportion from './loginportion.vue'
export default {
  components: {
    loginportion
  },
  data () {
    return {
      center: null,
      first_name: null,
      last_name: null,
      name_of_hotel: null,
      details_of_complaint: null,
      district_of_hotel: null,
      circle_of_hotel: null,
      category_of_complaint: null,
      proof_of_complaint: null,
      mobile_number: null,
      email_id: null,
      address_of_complainee: null,
      otp_validation: false,
      data: [],
      location_of_complainee: {
        lat: '',
        lng: ''
      },
      disabledbutton:true,
      district_details: [],
      circle_details: [],
      circle_details_complete: [],
      district_id: '',
      name_of_suggesting_person: null,
      address_of_suggesting_person: null,
      hotel_details: [],
      selected_hotels: [],
      id_of_hotel: null,
      dmessage:'',
      cmessage:'',
      derror:false,
      dsuccess:false,
      cerror:false,
      csuccess:false

    }
  },
  created () {
    this.geolocate()
    this.getDistricts()
    this.getCircles()
    this.getHotelList()
  },
  watch:{
      first_name:function(newval,oldval){
        if(newval === ""){
          this.nmessage = "Name Required"
          this.nerror = true
        }else{
          this.nmessage = "Success"
          this.nsuccess = tru
        }
      },
      mobile_number:function(newval,oldval){
        if(newval.length === 10 && !isNaN(newval)){
          this.mmessage = "Success"
          this.msuccess = true
        }else if(newval.length>10 || isNaN(newval)){
          this.mmessage = "Enter a valid mobile number"
          this.merror = true
        }
      },
      category_of_complaint(){

      },
      district_of_hotel:function(){
      if(this.district_of_hotel != null){
        this.dmessage = "Success !!"
        this.dsuccess = true
      }else if(this.district_details.length === 0){
        this.dmessage = "No districts found please load the page again !!"
        this.derror = true
      }
    },
    circle_of_hotel:function(){
      if(this.circle_details.length === 0 && this.district_details.length === 0){
        this.cmessage = "No districts found please load the page again !!"
        this.cerror = true
      }else if(this.circle_of_hotel != null){
        this.cmessage = "Success !!"
        this.csuccess = true
      }else if(this.circle_details.length != 0 &&this.circle_of_hotel === null){
        this.cmessage = "District Required !!"
        this.cerror = true
      }
    }
  },

  methods: {
    checkDistricts(){
    if(this.district_details.length != 0 && this.district_of_hotel === null){
      this.dmessage = "District Required !!"
      this.derror = true
    }
  },
  checkCircles(){
    // console.log("circle of hotel default ===>",this.circle_of_hotel)
    if(this.circle_of_hotel === null && this.district_details.length != 0){
      this.cmessage = "Please Select the district and continue !!"
      this.cerror = true
    }
  },
  checkHotels(){

  },
  checkName(){

  },
  checkNumber(){

  },
  checkProof(){

  },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) { return }
      this.createImage(files[0])
    },
    createImage (file) {
      var proof_of_complaint = new Image()
      var reader = new FileReader()
      var vm = this

      reader.onload = (e) => {
        vm.proof_of_complaint = e.target.result
      }
      reader.readAsDataURL(file)
    },
    geolocate: function () {
      navigator.geolocation.getCurrentPosition(position => {
        this.location_of_complainee = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    },
    checkForm () {
      for (var i = 0; i < this.hotel_details.length; i++) {
        if (this.hotel_details[i].name === this.name_of_hotel && this.hotel_details[i].place.circle === this.circle_of_hotel) {
          this.id_of_hotel = this.hotel_details[i].id
        }
      }
      var name = this.first_name + ' ' + this.last_name
      console.log('pushed', this.data.push({
        'name_of_complainee': name,
        'name_of_hotel': this.name_of_hotel,
        'id_of_hotel': this.id_of_hotel,
        'district_of_hotel': this.district_of_hotel,
        'circle_of_hotel': this.circle_of_hotel,
        'category_of_complaint': this.category_of_complaint,
        'details_of_complaint': this.details_of_complaint,
        'proof_of_complaint': this.proof_of_complaint,
        'mobile_number': this.mobile_number,
        'email_id': this.email_id,
        'address_of_complainee': this.address_of_complainee,
        'status_of_otp_validation': this.otp_validation,
        'location_of_complainee': this.location_of_complainee
      }))
      console.log('final data : ', this.data)
      var val = Math.floor(1000 + Math.random() * 9000)
      this.postDetails()
    },
    getHotelList () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/hotel_details')
        .then(function (res) {
          this.hotel_details = res.data
          console.log('total hotel data =>', this.hotel_details)
        })
        .catch(function (error) {
          console.log('Error ==> ', error)
        })
    },
    findHotel () {
      this.selected_hotels = []
      var array = []
      for (var i = 0; i < this.hotel_details.length; i++) {
        console.log('###', this.hotel_details[i].place.district, this.district_of_hotel, this.hotel_details[i].place.district, this.circle_of_hotel)
        if ((this.hotel_details[i].place.district === this.district_of_hotel) && (this.hotel_details[i].place.circle === this.circle_of_hotel)) {
          console.log('selected hotels name ==>', this.hotel_details[i].name)

          array.push(this.hotel_details[i].name)
          console.log('array', array)
        }
      }
      this.selected_hotels = array
      console.log('selected hotels', this.selected_hotels)
    },

    postDetails () {
      this.$http.post(process.env.VUE_APP_URL+ '/api/complaint_details_from_publics', this.data)
        .then(function (response) {
        // Success
          console.log(response.data)
        }, function (response) {
          // Error
          console.log(response.data)
        })
    },
    getDistricts () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/list_of_districts')
        .then(function (response) {
          this.district_details = response.data
          for (var i = 0; i < this.district_details.length; i++) {
            console.log(this.district_details[i].district_name)
          }
        })
        .catch(function (error) {
          console.log('Error:', error)
        })
    },
    getCircles () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/circles_details')
        .then(function (response) {
          this.circle_details = response.data
          console.log(this.circle_details)
        })
        .catch(function (error) {
          console.log('Error:', error)
        })
    },
    findName () {
      // console.log('function called')
      this.circle_details_complete = []
      for (var i = 0; i < this.district_details.length; i++) {
        if (this.district_of_hotel === this.district_details[i].district_name) {
          this.district_id = this.district_details[i].id
          // console.log(this.district_id)
        }
      }
      for (var i = 0; i < this.circle_details.length; i++) {
        if (this.district_id === this.circle_details[i].district_id) {
          // console.log('circle found')
          this.circle_details_complete.push(this.circle_details[i].circle_name)
          // console.log('circle added')
        }
      }
    },
    checkFormSuggestion () {
      var name = this.first_name + ' ' + this.last_name
      console.log('pushed', this.data.push({
        'name_of_hotel': this.name_of_hotel,
        'district_of_hotel': this.district_of_hotel,
        'circle_of_hotel': this.circle_of_hotel,
        'name_of_suggesting_person': this.name_of_suggesting_person,
        'address_of_suggesting_person': this.address_of_suggesting_person
      }))
      // console.log('final data : ', this.data)
      this.postDetailsSuggestion()
    },
    postDetailsSuggestion () {
      this.$http.post(process.env.VUE_APP_URL+ '/api/suggestion_details_from_publics', this.data)
        .then(function (response) {
        // Success
          console.log(response.data)
          alert('Suggestion is Sucessfull')
        }, function (response) {
          // Error
          console.log(response.data)
          alert('Error when try to upload the details')
        })
    }
  }

}
</script>

<style>
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #343a40 ;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #000000;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #b0b3b4 !important;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 0.25rem;
}
.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #000000;
}
.colorRed{
  border-color:red;
  color:red !important;

}
.colorGreen{
  border-color:green;
  color:green !important;
}
</style>
