<template>
<div >

    <topnavbar />
    <imagearea />
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>About Us</h1>
          <div class="row">
            <div class="col-lg-8">
              <p>
                Eatsafe helps you to find the safest place for taking food. We are just showing the details of the hotels which what is food and safety officers says about the place.
                The hotels will be listed out with the ratings which is given by the <a href="http://www.foodsafety.kerala.gov.in/">Office of the Commissioner of Food Safety - Kerala</a>
                at the time when they inspect the hotel.
                The details shown in this website is completely the government data and we are just showing the
                data to the public.
              </p>
              <h5>Head Office</h5>
                <div class="row">
                  <div class="col-lg-4">
                    Office of the Commissioner of Food Safety,

                Thaycud.P.O, Thiruvananthapuram - 695014

                Ph: 0471-2322833, 2322844

                Fax: 0471-2322855

                Email : foodsafetykerala@gmail.com
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footereatsafe />
</div>

</template>

<script>
import topnavbar from '../components/publicview/topnavbar.vue'
import imagearea from '../components/publicview/imagearea.vue'
import footereatsafe from '../components/footereatsafe.vue'

export default {
  props: {
    msg: String
  },
  components: {
    topnavbar,
    imagearea,
    footereatsafe
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.bg-secondary {
    background-color: #343a40 !important;
    color: white !important;
}
</style>
