<template>
  <div v-if="showarea === true">
    <navigationbar />
    <!-- <contentarea  /> -->
  </div>
</template>

<script>
import navigationbar from '../components/admin/navigationbar.vue'
import  store  from "@/store.js";
// import contentarea from '../components/superadmin/contentarea.vue'
export default {
  components: {
    navigationbar
    // contentarea
  },
  data(){
    return{
      showarea : false
    }
  },
  mounted(){
    if(store.state.user_type === 'admin'){
      this.showarea = true
    }else{
      alert('Sorry You refreshed ! Please login again')
      this.$router.push('/')
    }
  }

}
</script>

<style lang="scss">

</style>
