<template>
<div >

    <topnavbar />
    <imagearea />
    <footereatsafe />
</div>

</template>

<script>
import topnavbar from '../components/publicview/topnavbar.vue'
import imagearea from '../components/publicview/imagearea.vue'
import footereatsafe from '../components/footereatsafe.vue'

export default {
  props: {
    msg: String
  },
  components: {
    topnavbar,
    imagearea,
    footereatsafe
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.bg-secondary {
    background-color: #343a40 !important;
    color: white !important;
}
</style>
