<template>
  <div class="home">
    <background :msg="message"/>
  </div>
</template>

<script>
// @ is an alias to /src
import background from '@/components/background.vue'

export default {
  name: 'home',
  components: {
    background
  },
  data () {
    return {
      message: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
