<template>
  <div>
    <input type="text" name="number" v-model="mobilenumber">
    <button @click="generateOtp()">Generate Otp </button>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        mobilenumber:null,
        accountSid:'ACf12faf2f83b3409903b62093188effe2',
        mynumber:'+19893682194'
      }
    },
    methods:{
      generateOtp(){
        var data = {
          // otp:userAuthentication(${otp},${to},${message})
          otp:564825,
          to:'+919497725801',
          message:"The Otp for EatSafe is : 564825. Valid for 10 min. "
        }
        this.$http.post(process.env.VUE_APP_URL+'/api/complaint_details_from_publics/auth?otp='+data.otp+'&to='+data.to+'&message='+data.message)
          .then(function(res){
            console.log("Show the response ==>",res)
          })
          .catch(function(res){
            console.log("Error",res)
          })
      }
    }
  }
</script>


<style lang="scss" >

</style>
