<template>
<div >

    <topnavbar />
    <imagearea />
    <contentarea />
    <footereatsafe />
</div>

</template>

<script>
import topnavbar from './publicview/topnavbar.vue'
import imagearea from './publicview/imagearea.vue'
import contentarea from './publicview/contentarea.vue'
import footereatsafe from './footereatsafe.vue'

export default {
  props: {
    msg: String
  },
  components: {
    topnavbar,
    imagearea,
    contentarea,
    footereatsafe
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
