<template>
    <footer>
        <div class=" bg-secondary text-align-center">
            All Rights Reserved @ EatSafe
        </div>
    </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">

</style>
