<template>
  <section class="site-hero site-hero1 overlay" data-stellar-background-ratio="0.5" style="width:100%" >
     <!-- <img src="../assets/images/big_image_1.jpg" alt="" style="width:100%;height:100vh;min-height: 750px;"> -->
    <div class="container ">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Find place where you can eat safely</h1>
              <p>Search&amp; find the hotels near to you with its rating.</p>
            </div>

            <div class="form-inline element-animate" id="search-form" style="display: flex;margin: 0 auto;justify-content: center;">
              <label for="s" class="sr-only">Location</label>
              <input type="text" class="form-control form-control-block search-input" ref="autocomplete" placeholder="Search Location" >
              <input type="submit" placeholder="Search" @click="findHotels(changedLocation)" class="btn btn-primary"  />
              <!-- <input type="submit" value="Search" onclick="" class="btn btn-primary"> -->
            </div>
           
          </div>
          <!-- <h2 style="padding-left: 120px;">Hotels near to your location</h2> -->
        </div>
         
      </div>
      
  </section>
</template>
<script>
import store from "@/store.js";
import Cookies from "js-cookie";
import bus from "@/main";

export default {
  data() {
    return {
      placeSearch: "",
      autocomplete: "",
      geolocation: {
        lat: null,
        lng: null
      },
      hotels: null,
      hotellist: [],
      distance: null,
      duration: null,
      markers: null,
      searchPosition: null,
      geolocations: null,
      changedLocation: null,
      hotelDetails: null
    };
  },
  beforeMount() {
    this.getHotels().then(data => {
      this.hotelDetails = data.hotelDetails;
      this.getTopRatedHotels(this.hotelDetails);
    });
  },
  mounted() {
    this.geolocate();
    this.initAutocomplete();
    // this.findHotels(store.state.currentLocation)
  },
  methods: {
    geolocate() {
      var geolocations;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          geolocations = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          store.commit("locationPush", geolocations);
          this.geolocations = geolocations;
        });
      }
      $("#autocomplete").focus(function() {
        this.geolocate();
      });
      this.geolocations = geolocations;
    },
    getHotels() {
      return new Promise(resolve => {
        this.$http
          .get(process.env.VUE_APP_URL + "/api/hotel_details")
          .then(function(res) {
            resolve({
              hotelDetails: res.data
            });
          })
          .catch(function(error) {
            console.log("Hotel details unable to fetch");
          });
      });
    },
    initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      this.autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */ (this.$refs.autocomplete),
        { types: ["geocode"] }
      );

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      this.autocomplete.addListener("place_changed", this.fillInAddress);
    },
    fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = this.autocomplete.getPlace();
      this.$http
        .get(
          "https://maps.googleapis.com/maps/api/geocode/json?place_id=" +
            place.place_id +
            "&key=AIzaSyBQv0LL4T3iXbPNIE7jp-CsmWq_eBoj7vg"
        )
        .then(function(res) {
          // console.log(res)
          store.commit(
            "searchedLocationPush",
            res.data.results[0].geometry.location
          );
          this.changedLocation = res.data.results[0].geometry.location;
        });
    },
    getTopRatedHotels(hotelDetails) {
      // var hotelDetails = this.hotelDetails
      hotelDetails.sort(function(a, b) {
        return b.rating[0] - a.rating[0];
      });
      var hotels = [];
      for (var i = 0; i < hotelDetails.length; i++) {
        if (i < 6) {
          hotels.push(hotelDetails[i]);
        }
      }
      this.topRatedHotels = hotels;
      store.commit("pushTopRatedHotels", hotels);
    },
    findHotels(marker) {
      this.hotellist = [];
      this.hotels = this.hotelDetails;
      this.markers = marker;
      if (this.hotels.length != 0 && this.markers.length != 0) {
        for (var i = 0; i < this.hotels.length; i++) {
          this.calculate_distance_via_road(
            i,
            this.markers.lat,
            this.markers.lng,
            this.hotels[i].location.lat,
            this.hotels[i].location.lng
          ).then(data => {
            this.distance = data.distance;
            this.duration = data.duration;
            var dist = data.distance.split(" ");
            if (dist[0] < 10.0) {
              this.hotellist.push({
                name: this.hotels[data.i].name,
                address: this.hotels[data.i].address,
                licence_number: this.hotels[data.i].licence_number,
                location: this.hotels[data.i].location,
                place: this.hotels[data.i].place,
                images: this.hotels[data.i].images,
                distance: data.distance,
                duration: data.duration,
                inspection_details: this.hotels[data.i].inspection_details,
                rating: this.hotels[data.i].rating,
                id: this.hotels[data.i].id
              });
            }
            // if(data.i === this.hotels[data.i].length){
            //   console.log("last value")
            // }
          });
        }
      } else {
        console.log("Hotel data or marker is not present");
      }
      this.hotellist.sort();
      store.commit("pushNearestHotels", this.hotellist);
      bus.$emit("change", this.hotellist);
      // console.log("nearest hotels to me", store.state.nearestHotelsToMe)
    },
    calculate_distance_via_road(i, lat1, lng1, lat2, lng2) {
      var orgin = new google.maps.LatLng(lat1, lng1);
      var dest = new google.maps.LatLng(lat2, lng2);
      var service = new google.maps.DistanceMatrixService();
      return new Promise(resolve => {
        service.getDistanceMatrix(
          {
            origins: [orgin],
            destinations: [dest],
            travelMode: google.maps.TravelMode.DRIVING,
            unitSystem: google.maps.UnitSystem.METRIC,
            avoidHighways: false,
            avoidTolls: false
          },
          function(response, status) {
            if (
              status == google.maps.DistanceMatrixStatus.OK &&
              response.rows[0].elements[0].status != "ZERO_RESULTS"
            ) {
              this.distance = response.rows[0].elements[0].distance.text;
              this.duration = response.rows[0].elements[0].duration.text;
              resolve({
                i: i,
                distance: this.distance,
                duration: this.duration
              });
            }
          }
        );
      });
    }
  }
};
</script>

<style lang="scss">
.site-hero1 {
  background-image: url("../assets/images/big_image_1.jpg") !important;
}
::placeholder {
  color: black;
  font-size: 100%;
}
.btn.btn-primary{
  border-radius: 0px 50px 50px 0px;
  height: 55px;
}
</style>
