<template>
  <section id="HotelShowingSection" class="feature-destination custom-class-feature-destination">
      <div class="container">
        <!-- <div class="row animated fadeInRightBig"  v-if="hotelDetails.length === 0">
          <div  class="col-md-12 element-animate text-align-center padding-top-10-perc">
            <h3 >No hotels found near your 10 km, please search to find hotels</h3>
          </div>
        </div> -->
        <div class="row" style="display: flex;justify-content: center;">
          <div class="col-md-4 element-animate animated fadeInRightBig" v-for="(data,i) in hotelDetails" :key="i" >
            <a  @click="hotelViewing(data), hotelShowing=true" class="img-bg cursor" :style="{ 'backgroundImage': 'url(' + data.images[0] + ')' }">
              <div class="text">
                <span class="fa fa-3x fa-map-marker"></span>
                <h2>{{data.name}}</h2>
                <p>Visit This Place</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
</template>
<script>
import store from "@/store.js";
import router from "@/router.js";
import bus from "@/main";

export default {
  data() {
    return {
      hotelDetails: null,
      hotelShowing: false,
      timer: ""
    };
  },
  created() {
    this.dataFetch();
    // console.log("hotel details",this.hotelDetails)
    bus.$on("change", section => {
      this.hotelDetails = section;
    });
    setInterval(this.dataFetch(), 100);
  },
  methods: {
    dataFetch() {
      this.hotelDetails = store.state.nearestHotelsToMe;
    },
    hotelViewing(hotel_details) {
      store.commit("pushCurrentHotel", hotel_details);
      if (this.hotelShowing === true) {
        router.push({
          name: "hotelviewing",
          query: { name: hotel_details.name }
        });
      }
    }
  }
};
</script>
<style lang="scss">
@import "../assets/css/style.css";
@import "../assets/css/animate.css";

.padding-top-10-perc {
  padding-top: 10%;
}
.cursor {
  cursor: pointer;
}
</style>
