<template>
  <section class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5" style="display: flex;justify-content: center;">
          <div class="col-md-7 text-center">
            <h2>Top Hotels</h2>
            <p>Here is the top hotels which have highest rating from FSSAI</p>
          </div>
        </div>
        <div class="row top-destination" style="display: flex;justify-content: center;">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12 content-center animated fadeInRightBig" v-for="(data,i) in hotelDetails" :key="i">
            <a  class="place">
              <img :src="data.images[value]" alt="Image placeholder">
              <h2>{{data.name}}</h2>
              <h5><b>Rating:-</b> {{data.rating[0]}}%</h5>
              <p @click="showHotels(data)">Get More Details</p>
            </a>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
import store from "@/store.js";
import router from "@/router.js";
export default {
  data() {
    return {
      hotelDetails: store.state.topRatedHotels,
      value: 0
    };
  },
  mounted() {
    for (var i = 0; i < this.hotelDetails.length; i++) {}
  },
  methods: {
    showHotels(hotel_details) {
      store.commit("pushCurrentHotel", hotel_details);
      router.push({
        name: "hotelviewing",
        query: { name: hotel_details.name }
      });
    }
  }
};
</script>
<style>
@import "../assets/css/style.css";
@import "../assets/css/animate.css";
</style>
