<template>
  <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-5">
            <h3 class="mb-4">About</h3>
            <p class="mb-4">We are here to show the best hotels which is licenced under the FSSAI</p>
            <ul class="list-unstyled ">
              <li class="d-flex"><span class="mr-3"><span class="fa fa-map-marker"></span></span><span class="">Office of the Commissioner of Food Safety<br /> Thaycud.P.O,Thiruvananthapuram - 695014 </span></li>
              <li class="d-flex"><span class="mr-3"><span class="fa fa-phone"></span></span><span class="">0471-2322833, 2322844</span></li>
              <li class="d-flex"><span class="mr-3"><span class="fa fa-envelope"></span></span><span class="">foodsafetykerala@gmail.com</span></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4">Links</h3>
            <ul class="list-unstyled ">
              <li><a href="/about">About</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          
          <div class="col-md-4">
            <h3>Connect</h3>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
              Copyright &copy;2018 All rights reserved | EatSafe
          </div>
        </div>
      </div>
    </footer>
</template>
