<template>
  <header role="banner">
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand font-style-ribeye" style=" font-size:25px;cursor:pointer;" href="/">EatSafe</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="background-color: #ffffff00;cursor:pointer;" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forms</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" style="cursor:pointer;" @click="suggestion_form = false,complaint_form = true,routing()">Complaint Form</a>
                  <a class="dropdown-item" style="cursor:pointer;"  @click="complaint_form = false,suggestion_form = true,routing()">Suggestion Form</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link login-nav" style="cursor:pointer;" data-toggle="modal" data-target="#formmodal1" @click="loginArea = true" >Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id = "formmodal1" class="modal font-style-sirin-stencil " tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                 <div class="modal-content" v-if="loginArea === true">
                  <div class="modal-header ">
                    <h5 class="modal-title "><strong>LOGIN FORM</strong></h5>
                  </div>
                     <div class="modal-body ">
                         <form >
                             <div class="row">
                                 <div class="col-lg-12">
                                     <div class="form-group">
                                        <input type="text" :class="{colorRed: uerror,colorGreen: usuccess}" placeholder="USERNAME" @blur="usernameCheck()" v-model="uname" class="form-control" name="uname" >
                                        <span :class="{colorRed: uerror,colorGreen: usuccess}" style="padding-left:25px" >{{umessage}}</span>
                                    </div>

                                    <div class="form-group mt-3 mb-4">
                                        <input type="password" :class="{colorRed: perror,colorGreen: psuccess}" placeholder="PASSWORD" @blur="passwordCheck()" v-model="pswd" class="form-control" name="pswd" >
                                        <span :class="{colorRed: perror,colorGreen: psuccess}" style="padding-left:25px;" >{{pmessage}}</span>
                                    </div>
                                 </div>
                             </div>
                             <div class="form-check text-align-left">
                                 <input type="checkbox" class="form-check-input" value="">Remember Me
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a class="text-align-right" @click="forgetPassword(),reset(),loginArea=false">forgot password</a>
                            </div>          
                         </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-success btn-custom-style-rounded" :disabled='disableSubmitButton' @click="login()">LOGIN</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" @click="reset()" class="btn btn-outline-secondary btn-custom-style-rounded" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="modal-content" v-if="forgetPasswordArea === true">
                  <div class="modal-header ">
                    <h5 class="modal-title "><strong>Forget Password</strong></h5>
                  </div>
                     <div class="modal-body ">
                      <form >
                        <div class="row">
                          <div class="col-lg-12">
                            Username
                            <div class="form-group">
                              <input type="text" name="uname" id="uname" v-model="uname" @blur="usernameCheck()" :class="{colorRed: uerror,colorGreen: usuccess}" placeholder="Enter Username " class="form-control">
                              <span :class="{colorRed: uerror,colorGreen: usuccess}" style="padding-left:25px">{{umessage}}</span>
                            </div>
                            Email
                            <div class="form-group">
                              <input :class="{colorRed: eerror,colorGreen: esuccess}" @blur="emailCheck()" type="email" v-model="emailId" name="emailId" placeholder="Enter the email given at the time of creation" class="form-control">
                              <span :class="{colorRed: eerror,colorGreen: esuccess}" style="padding-left:25px">{{emessage}}</span>
                            </div>
                            Password
                            <div class="form-group">
                              <input :class="{colorRed: rerror,colorGreen: rsuccess}" @blur="passwordForgetCheck()" type="password" v-model="rpswd" name="rpswd" placeholder="Enter a new password" class="form-control">
                              <span :class="{colorRed: rerror,colorGreen: rsuccess}" style="padding-left:25px">{{rmessage}}</span>
                            </div>
                            Confirm Passowrd
                            <div class="form-group">
                              <input :class="{colorRed: cerror,colorGreen: csuccess}" @blur="confirmPasswordCheck()" type="password" v-model="cpswd" name="cpswd" placeholder="Please Re-enter the password" class="form-control">
                              <span :class="{colorRed: cerror,colorGreen: csuccess}" style="padding-left:25px">{{cmessage}}</span>
                            </div>

                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-success btn-custom-style-rounded" :disabled='disableSubmitButton' @click="checkforgetForm(),forgetPasswordArea=false">LOGIN</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" @click="reset()" class="btn btn-outline-secondary btn-custom-style-rounded" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import store from "@/store.js";
import router from "@/router.js";

export default {
  props: {
    msg: String
  },
  data() {
    return {
      userDetails: null,
      complaint_form: false,
      suggestion_form: false,
      loginArea: false,
      forgetPasswordArea: false,
      usuccess: false,
      uerror: false,
      umessage: "",
      psuccess: false,
      perror: false,
      pmessage: "",
      esuccess: false,
      eerror: false,
      emessage: "",
      rsuccess: false,
      rerror: false,
      rmessage: "",
      csuccess: false,
      cerror: false,
      uname: null,
      pswd: null,
      emailId: null,
      rpswd: null,
      cpswd: null,
      disableSubmitButton: true
    };
  },
  watch: {
    uname: function(newval, oldval) {
      for (var i = 0; i < this.userDetails.length; i++) {
        if (newval != "") {
          this.umessage = "Success !";
          this.usuccess = true;
          this.uerror = false;
        } else {
          this.umessage = "Username Incorrect !!!";
          this.uerror = true;
          this.usuccess = false;
          this.disableSubmitButton = true;
        }
      }
    },
    pswd: function(newval, oldval) {
      for (var i = 0; i < this.userDetails.length; i++) {
        if (
          this.userDetails[i].username === this.uname &&
          this.userDetails[i].password === newval
        ) {
          // console.log("password",this.userDetails[i].password,newval)
          this.pmessage = "Success !";
          this.psuccess = true;
          this.perror = false;
          if (this.psuccess === true) {
            this.disableSubmitButton = false;
          }
        } else if (
          this.userDetails[i].username === this.uname &&
          this.userDetails[i].password != newval
        ) {
          this.pmessage = "Password Incorrect !!!";
          this.perror = true;
          this.psuccess = false;
          this.disableSubmitButton = true;
        }
      }
    },
    emailId: function(newval, oldval) {
      for (var i = 0; i < this.userDetails.length; i++) {
        if (
          this.userDetails[i].username === this.uname &&
          this.userDetails[i].email_id === newval
        ) {
          console.log(
            this.userDetails[i].username,
            newval,
            this.uname,
            this.userDetails[i].email_id
          );
          this.emessage = "Success !";
          this.esuccess = true;
          this.eerror = false;
        } else if (
          this.userDetails[i].username === this.uname &&
          this.userDetails[i].email_id != newval
        ) {
          this.emessage = "Email Incorrect";
          this.eerror = true;
          this.esuccess = false;
          this.disableSubmitButton = true;
        }
      }
    },
    rpswd: function(newval, oldval) {
      if (newval.length > 6) {
        this.rmessage = "Success !";
        this.rsuccess = true;
        this.rerror = false;
      } else if (newval.length < 6) {
        this.rmessage = "Password length need to be more than 6 characters";
        this.rerror = true;
        this.rsuccess = false;
        this.disableSubmitButton = true;
        // else if(newval === this.userDetails[i].password){
        //   this.rmessage = "Please input a password that never user before"
        //   this.rerror=true
        //   this.rsuccess=false
        // }
      }
    },
    cpswd: function(newval, oldval) {
      if (newval === this.rpswd) {
        this.cmessage = "Success !";
        this.csuccess = true;
        this.cerror = false;
        if (
          this.usuccess === true &&
          this.esuccess === true &&
          this.rsuccess === true
        ) {
          this.disableSubmitButton = false;
        }
      } else if (newval != this.pswd) {
        this.cmessage = "Confirm Password is Incorrect";
        this.cerror = true;
        this.csuccess = false;
        this.disableSubmitButton = false;
      }
    }
  },
  mounted() {
    this.getUserDetails();
  },
  methods: {
    routing() {
      if (this.complaint_form === true) {
        router.push({ path: "/forms", query: { value: "COMPLAINT FORM" } });
      } else {
        router.push({ path: "/forms", query: { value: "SUGGESTION FORM" } });
      }
    },
    usernameCheck() {
      if (this.uname === "") {
        this.umessage = "Username Required !!!";
        this.uerror = true;
        this.usuccess = false;
      }
    },
    passwordCheck() {
      if (this.pswd === "") {
        this.pmessage = "Password Required !!!";
        this.perror = true;
        this.psuccess = false;
      }
    },
    emailCheck() {
      if (this.emailId === "") {
        this.emessage = "Email Required";
        this.eerror = true;
        this.esuccess = false;
      }
    },
    passwordForgetCheck() {
      if (this.rpswd === "") {
        this.rmessage = "Password Required";
        this.rerror = true;
        this.rsuccess = false;
      }
    },
    confirmPasswordCheck() {
      if (this.cpswd === "") {
        this.cmessage = "Confirm Password Required";
        this.cerror = true;
        this.csuccess = false;
      }
    },
    loginAreaClick() {
      this.loginArea = true;
    },
    checkforgetForm() {
      if (this.userDetails.length != 0) {
        for (var i = 0; i < this.userDetails.length; i++) {
          if (
            this.uname === this.userDetails[i].username &&
            this.emailId === this.userDetails[i].email_id
          ) {
            if (this.cpswd === this.rpswd) {
              var data = this.userDetails[i];
              data.password = this.cpswd;
              // console.log("object with new password:===>",data)
              this.$http
                .put(
                  process.env.VUE_APP_URL +
                    "/api/user_details/" +
                    this.userDetails[i].id,
                  data
                )
                .then(function(res) {
                  alert("Your Password is reseted");
                  this.forgetPasswordArea = false;
                  this.loginArea = true;
                });
            } else {
              console.log("Password Doesn't match");
            }
          }
        }
      }
    },
    getUserDetails() {
      return new Promise(() => {
        this.$http
          .get(process.env.VUE_APP_URL + "/api/user_details")
          .then(function(res) {
            // store.commit('getUser',res.data)
            this.userDetails = res.data;
            // console.log("in mixin from store user ==>",store.state.userDetails)
          })
          .catch(function(error) {
            console.log("Error When Fetching user details :", error);
          });
      });
    },
    reset() {
      this.uname = "";
      this.pswd = "";
      this.umessage = "";
      this.pmessage = "";
      this.uerror = false;
      this.perror = false;
      this.usuccess = false;
      this.psuccess = false;
      this.rmessage = "";
      this.csuccess = "";
      this.emessage = "";
      this.eerror = false;
      this.cerror = false;
      this.rerror = false;
      this.rsuccess = false;
      this.esuccess = false;
      this.csuccess = false;
      this.disableSubmitButton = true;
    },
    valuechange() {
      this.value = !this.value;
      console.log(this.value);
    },
    valuecheck() {
      this.valuereset();
    },
    valuereset: function() {
      this.value = !this.value;
      console.log(this.value);
    },
    forgetPassword() {
      this.forgetPasswordArea = true;
      this.loginArea = false;
    },
    login() {
      // console.log("entered loop",this.userDetails)
      if (this.userDetails.length != 0) {
        for (var i = 0; i < this.userDetails.length; i++) {
          this.details = this.userDetails[i];
          if (
            this.details.username === this.uname &&
            this.details.password === this.pswd &&
            this.details.user_type === "superadmin"
          ) {
            var object = {
              id: this.details.id,
              name: this.details.name,
              type: this.details.user_type,
              full: this.details
            };
            store.commit("assign", object);
            this.$parent.login_value = true;
            this.$router.push({
              name: "superadmin",
              query: { name: this.details.name }
            });
            break;
          } else if (
            this.details.username === this.uname &&
            this.details.password === this.pswd &&
            this.details.user_type === "admin"
          ) {
            var object = {
              id: this.details.id,
              name: this.details.name,
              type: this.details.user_type,
              full: this.details
            };
            store.commit("assign", object);
            this.$parent.login_value = true;
            this.$router.push({
              name: "admin",
              query: { name: this.details.name }
            });
            break;
          } else if (
            this.details.username === this.uname &&
            this.details.password === this.pswd &&
            this.details.user_type === "officer"
          ) {
            console.log("entered as officer");
            var object = {
              id: this.details.id,
              name: this.details.name,
              type: this.details.user_type,
              full: this.details
            };
            store.commit("assign", object);
            this.$router.push({
              name: "officer",
              query: { name: this.details.name }
            });
            break;
          }
          // } else {
          //   if (i == 0) {
          //     this.msg.push('Username or Password is incorrect Please try again..')
          //     this.alert_value = true
          //   }
          // }
        }
      } else {
        console.log("Unable to fetch user details, refresh the server");
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.btn-custom-style-rounded {
  border-radius: 25px !important;
  padding-bottom: 10px !important;
  padding-right: 18px !important;
}
</style>
