<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- Bootstrap 4 links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcVerJPqF3UrEXOMzH_ItXgKMMEla7zx4"></script> -->
    <!-- font awesome icons cdn -->
    <script src="https://use.fontawesome.com/af67fb1f47.js"></script>

    <!-- Google maps link -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyCYijjycJ6OzW6aylImlLhmOppAcCrEsi8"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUJ4NBY-BWzVd1B4FykY_vzzU3yHLCsHE"></script> -->

    <!-- Chart js -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- axios cdn -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>frontend</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
