<template>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="color-blue">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 fa fa-globe fa-5x card-icon-details">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4 float-right font-align-card">
              <div class="large-font-card">{{district_length}} </div>
              <div class="font-size-x-large">Districts</div>
            </div>
          </div>
        </div>
        <div class="card-body padding-top-12px-card">
          <p class="card-text">
            <strong>
            More Details
            <a @click="district_area = true,districtDetails()" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right float-right"></i></a>
            </strong>
            </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="color-blue">
          <div class="row">
            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 fa fa-map-marker fa-5x card-icon-details">
            </div>
            <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-4 float-right font-align-card">
              <div class="large-font-card">{{circles_length}} </div>
              <div class="font-size-x-large">Circles</div>
            </div>
          </div>
        </div>
        <div class="card-body padding-top-12px-card">
          <p class="card-text">
            <strong>
            More Details
            <a @click="circles_area = true,circlesDetails()" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right float-right"></i></a>
            </strong>
            </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="color-blue">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 fa fa-cutlery fa-5x card-icon-details">

            </div>
            <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-4  float-right font-align-card">
              <div class="large-font-card">{{hotels_length}} </div>
              <div class="font-size-x-large">Hotels</div>
            </div>
          </div>
        </div>
        <div class="card-body padding-top-12px-card">
          <p class="card-text">
            <strong>
            More Details
            <a @click="hotel_area = true,hotelDetails()" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-circle-right float-right"></i></a>
            </strong>
            </p>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">DETAILS</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div v-if="district_area === true" class="modal-body">
          <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
              <thead>
                <tr style="background-color: #afadad;">
                  <th>Index</th>
                  <th>District Name</th>
                  <th>Current Admin</th>
                  <th>Contact</th>
                </tr>
              </thead>
              <tbody class="custom-scroll1">
                <tr v-for="(data,i) in district_data" :key="i" >
                  <td>{{i+1}}</td>
                  <td>{{data.district_name}}</td>
                  <td>{{data.current_admin}}</td>
                  <td>{{data.contact_no}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div v-if="circles_area === true" class="modal-body">
          <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
              <thead>
                <tr style="background-color: #afadad;">
                  <th>Index</th>
                  <th>Circles Name</th>
                  <th>Current Officer</th>
                  <th>Contact Number</th>
                </tr>
              </thead>
              <tbody class="custom-scroll1">
                <tr v-for="(data,i) in circles_data" :key="i" >
                  <td>{{i+1}}</td>
                  <td>{{data.circles_name}}</td>
                  <td>{{data.current_officer}}</td>
                  <td>{{data.contact_no}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div v-if="hotel_area === true" class="modal-body">
          <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
              <thead>
                <tr style="background-color: #afadad;">
                  <th>Index</th>
                  <th>Hotel Name</th>
                  <th>District</th>
                  <th>Circle</th>
                </tr>
              </thead>
              <tbody class="custom-scroll1">
                <tr v-for="(data,i) in hotel_data" :key="i" >
                  <td>{{i+1}}</td>
                  <td>{{data.hotel_name}}</td>
                  <td>{{data.district}}</td>
                  <td>{{data.circle}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
   </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      district_length: null,
      circles_length: null,
      hotels_length: null,
      districts_details: [],
      circle_details: [],
      hotels_details: [],
      user_details: [],
      district_data: [],
      circles_data: [],
      hotel_data: [],
      hotel_area: false,
      circles_area: false,
      district_area: false
    };
  },
  mounted() {
    this.getDistricts();
    this.getCricles();
    this.getHotels();
    this.getUsers();
  },
  methods: {
    getDistricts() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/list_of_districts")
        .then(function(res) {
          this.districts_details = res.data;
          this.district_length = res.data.length;
          // console.log('districts', this.districts_details)
        })
        .catch(function(error) {
          console.log("Error list of districts ==> ", error);
        });
    },
    getCricles() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/circles_details")
        .then(function(res) {
          this.circle_details = res.data;
          this.circles_length = res.data.length;
          // console.log("Circles",this.circle_details)
        })
        .catch(function(error) {
          console.log("Error circle details==> ", error);
        });
    },
    getHotels() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/hotel_details")
        .then(function(res) {
          this.hotels_details = res.data;
          this.hotels_length = res.data.length;
        })
        .catch(function(error) {
          console.log("Error hotel details  ==> ", error);
        });
    },
    getUsers() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/user_details")
        .then(function(res) {
          this.user_details = res.data;
          // console.log("Users",this.user_details)
        })
        .catch(function(error) {
          console.log("Error user details ==> ", error);
        });
    },
    districtDetails() {
      this.circles_area = false;
      this.hotel_area = false;
      this.district_data = [];
      var admin = null;
      var data = [];
      var mb_no = null;
      for (var i = 0; i < this.districts_details.length; i++) {
        for (var j = 0; j < this.user_details.length; j++) {
          if (this.user_details[j].user_type === "admin") {
            if (
              this.user_details[j].current_place[0] ===
                this.districts_details[i].district_name &&
              this.user_details[j].id ===
                this.districts_details[i].current_admin_id
            ) {
              // console.log("if",this.districts_details[i].district_name)
              data.push({
                district_name: this.districts_details[i].district_name,
                current_admin: this.user_details[j].name,
                contact_no: this.user_details[j].mb_no
              });
              break;
            } else {
              // console.log("else",this.districts_details[i].district_name)
            }
          }
        }
        data.push({ district_name: this.districts_details[i].district_name });
      }
      for (i = 0; i < data.length; i++) {
        if (data[i + 1]) {
          if (data[i].district_name === data[i + 1].district_name) {
            // console.log("equal",data[i].district_name,data[i+1].district_name)
            this.district_data.push(data[i]);
            i = i + 1;
          } else {
            // console.log("Not equal",data[i].district_name,data[i+1].district_name)
            this.district_data.push(data[i]);
          }
        } else {
          this.district_data.push(data[i]);
        }
      }
      // console.log('data', this.district_data)
    },
    circlesDetails() {
      this.district_area = false;
      this.hotel_area = false;
      this.circles_data = [];
      var data = [];
      for (var i = 0; i < this.circle_details.length; i++) {
        for (var j = 0; j < this.user_details.length; j++) {
          if (this.user_details[j].user_type === "officer") {
            if (
              this.user_details[j].current_place[1] ===
                this.circle_details[i].circle_name &&
              this.user_details[j].id ===
                this.circle_details[i].current_officer_id
            ) {
              // console.log("if",this.circle_details[i].circle_name)
              data.push({
                circles_name: this.circle_details[i].circle_name,
                current_officer: this.user_details[j].name,
                contact_no: this.user_details[j].mb_no
              });
              //  console.log("if ",data[i])
              break;
            } else {
              // console.log("else",data[i])
            }
          }
        }
        data.push({ circles_name: this.circle_details[i].circle_name });
      }
      for (i = 0; i < data.length; i++) {
        if (data[i + 1]) {
          if (data[i].circles_name === data[i + 1].circles_name) {
            // console.log("equal")
            this.circles_data.push(data[i]);
            i = i + 1;
          } else {
            // console.log("not equal")
            this.circles_data.push(data[i]);
          }
        } else {
          this.circles_data.push(data[i]);
        }
      }
    },
    hotelDetails() {
      this.district_area = false;
      this.circles_area = false;
      this.hotel_data = [];
      for (var i = 0; i < this.hotels_details.length; i++) {
        this.hotel_data.push({
          hotel_name: this.hotels_details[i].name,
          district: this.hotels_details[i].place.district,
          circle: this.hotels_details[i].place.circle
        });
      }
      // console.log('data', this.hotel_data)
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
