<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropleft">
                                <a class="nav-link fa fa-bell  " href="#user" data-toggle="dropdown" @click="getNotifications()">Notifications</a>
                                  <ul class="dropdown-menu" id="user">
                                      <div class="dropdown-header"><strong><u>Notifications</u></strong></div>
                                      <li v-if="notification_content === false">
                                          <h5>No new notifications</h5>
                                      </li>
                                      <li v-else v-for="(data,i) in notifications" :key="i">
                                          <a class="dropdown-item fa " @click="changeValueVisited(data)" data-toggle="modal" data-target="#topbarmodal">Complaint Registered for {{data.name}}</a>
                                      </li>
                                      <div class="dropdown-divider"></div>
                                      <li>
                                          <a class="dropdown-item fa fa-angle-right " @click="allnotification_content = true" data-toggle="modal" data-target="#topbarmodal">See All Notifications</a>
                                      </li>
                                  </ul>
                            </li>
                            <li class="nav-item dropleft">
                                <a class="nav-link fa fa-bell  " href="#data" data-toggle="dropdown" >profile</a>
                                  <ul class="dropdown-menu" id="data">
                                      <li>
                                          <a class="dropdown-item fa fa-user-circle  " data-toggle="modal" data-target="#topbarmodal" @click="showUserProfile(),showUserProfileArea=true">&nbsp;&nbsp;&nbsp;<strong>User Profile</strong></a>
                                      </li>
                                      <div class="dropdown-divider"></div>
                                      <li>
                                          <a class="dropdown-item fa fa-gear " data-toggle="modal" data-target="#topbarmodal" @click="formShowProfile()">&nbsp;&nbsp;&nbsp;<strong>Settings</strong></a>
                                      </li>
                                      <div class="dropdown-divider"></div>
                                      <li>
                                          <a class="dropdown-item fa fa-sign-out " data-toggle="modal" data-target="#topbarmodal" @click="logout()">&nbsp;&nbsp;&nbsp;<strong>Logout</strong></a>
                                      </li>
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>
      </nav>
      <div class="modal fade" id="topbarmodal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" >
          <div class="modal-content" v-if="notification_content === true">
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Complaint Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span @click="allnotification_content=false ,showUserProfileArea = false, formShowProfileArea = false" aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- assign admin -->
            <div >
              <!-- <div v-if="district_name_value === true" class="modal-body alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong>Sorry! admin is already under a district, please delete the admin to continue</strong>
              </div> -->
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                   <strong>Name of Hotel : </strong> {{complaint_data_from_notification.name_of_hotel}}<br>
                   <strong>Location : </strong> District: {{complaint_data_from_notification.district_of_hotel}}, Circle : {{complaint_data_from_notification.circle_of_hotel}}<br>
                   <strong>Address of Complainee : </strong> {{complaint_data_from_notification.address_of_complainee}}<br>
                   <strong>Email Id : </strong>{{complaint_data_from_notification.email_id}}<br>
                   <strong>Mobile Number : </strong>{{complaint_data_from_notification.mobile_number}}<br>
                   <strong>Name of Complainee : </strong>{{complaint_data_from_notification.name_of_complainee}}<br>
                   <strong>Category of complaint : </strong>{{complaint_data_from_notification.category_of_complaint}}<br>
                   <strong>Details of Complaint : </strong>{{complaint_data_from_notification.details_of_complaint}}<br>
                   <strong>Status of Complaint : </strong>{{complaint_data_from_notification.status_of_complaint}}<br>
                   <strong>Status of OTP Validation : </strong>{{complaint_data_from_notification.status_of_otp_validation}}<br>
                   <strong>Proof of complaints : </strong><br>
                   <img class="img-fluid width-100-perc" :src="complaint_data_from_notification.proof_of_complaint" alt="No Image Available">
                </div>
              </div>
            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">

                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="modal-content" v-if="allnotification_content === true">
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Complaint Details</h5>
              <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span @click="selectedNotification=false, showUserProfileArea = false, formShowProfileArea = false" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12" v-if="selectedNotification === false" v-for="(data,i) in allNotifications" :key="i">
                  <ul>
                    <li><a @click="allNotification(data)" >Complaint Registered about {{data.name}}</a></li>
                  </ul>
                </div>
                <div  v-else class="col-lg-12">
                   <strong>Name of Hotel : </strong> {{complaint_data_from_notification.name_of_hotel}}<br>
                   <strong>Location : </strong> District: {{complaint_data_from_notification.district_of_hotel}}, Circle : {{complaint_data_from_notification.circle_of_hotel}}<br>
                   <strong>Address of Complainee : </strong> {{complaint_data_from_notification.address_of_complainee}}<br>
                   <strong>Email Id : </strong>{{complaint_data_from_notification.email_id}}<br>
                   <strong>Mobile Number : </strong>{{complaint_data_from_notification.mobile_number}}<br>
                   <strong>Name of Complainee : </strong>{{complaint_data_from_notification.name_of_complainee}}<br>
                   <strong>Category of complaint : </strong>{{complaint_data_from_notification.category_of_complaint}}<br>
                   <strong>Details of Complaint : </strong>{{complaint_data_from_notification.details_of_complaint}}<br>
                   <strong>Status of Complaint : </strong>{{complaint_data_from_notification.status_of_complaint}}<br>
                   <strong>Status of OTP Validation : </strong>{{complaint_data_from_notification.status_of_otp_validation}}<br>
                   <strong>Proof of complaints : </strong><br>
                   <img class="img-fluid width-100-perc" :src="complaint_data_from_notification.proof_of_complaint" alt="No Image Available">

                </div>
              </div>
            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">

                  </div>
                </div>
            </div>
          </div>
          <div class="modal-content" v-if="showUserProfileArea === true" >
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Profile </h5>
              <button @click="showUserProfileArea = false, formShowProfileArea = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div >
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-6">
                  <label>Name :  {{loggedPersonData.name}} </label><br>
                  <label>Email Id :  {{loggedPersonData.email_id}} </label><br>
                  <label>User Name :  {{loggedPersonData.username}} </label><br>
                  <label v-if="loggedPersonData.current_place">Current Officer of :<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; District :  {{loggedPersonData.current_place[0]}} <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span v-if="loggedPersonData.current_place[1]"> Circle : {{loggedPersonData.current_place[1]}}</span></label>
                </div>
                <div class="col-lg-6">
                  <img class="img-fluid width-100-perc" :src="loggedPersonData.photo" alt="No image found">
                </div>
              </div>
            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                      <button type="submit" class="btn btn-success" @click="formShowProfile()">Edit</button>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="modal-content" v-if="formShowProfileArea === true" >
            <div class="modal-header" >

              <h5 class="modal-title text-align-center" id="exampleModalLabel">Settings </h5>
              <button @click="showUserProfileArea = false, formShowProfileArea = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div >
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-6">
                  <label>Name : </label><input class="form-control" type="text" v-model="name" :placeholder="loggedPersonData.name" />
                  <label>Email id : </label><input type="text" v-model="email_id" :placeholder="loggedPersonData.email_id" class="form-control">
                  <label>User Name :</label><input type="text" v-model="username" :placeholder="loggedPersonData.username" class="form-control">
                  <label>Password :</label><input type="text" v-model="password" :placeholder="loggedPersonData.password" class="form-control">
                  <label>Confrim Password :</label><input type="text" v-model="confirm_password" :placeholder="loggedPersonData.password" class="form-control">
                  <label>Mobile Number :</label><input type="text" v-model="mb_no" :placeholder="loggedPersonData.mb_no" class="form-control">
                </div>
                <div class="col-lg-6">
                   <img class="img-fluid width-100-perc" :src="loggedPersonData.photo" alt="No image found">
                   <input type="file" @change="onFileChange" :placeholder="loggedPersonData.photo" :name="photo" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="submit" class="btn btn-success" @click="formShowProfileSubmit()">Submit</button>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import store from "@/store.js";

export default {
  data() {
    return {
      notifications: [],
      notification_content: false,
      complaint_data_from_notification: [],
      allNotifications: [],
      allnotification_data: [],
      allnotification_content: false,
      selectedNotification: false,
      settingsContent: false,
      showUserProfileArea: false,
      formShowProfileArea: false,
      loggedPersonData: [],
      name: null,
      username: null,
      password: null,
      confirm_password: null,
      mb_no: null,
      photo: null,
      email_id: null
    };
  },
  mounted() {
    this.getUserProfile();
    console.log(
      "The login Person is ",
      store.state.user_name,
      "user type is ",
      store.state.user_type,
      "and the id is ",
      store.state.user_id
    );
  },
  methods: {
    logout() {
      var object = {
        id: null,
        name: null,
        type: null
      };
      store.commit("assign", object);
      this.$router.push("/");
    },
    showUserProfile() {
      this.showUserProfileArea = true;
      this.formShowProfileArea = false;
      this.allnotification_content = false;
      this.notification_content = false;
    },
    formShowProfile() {
      this.formShowProfileArea = true;
      this.showUserProfileArea = false;
      this.allnotification_content = false;
      this.notification_content = false;
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      var photo = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.photo = e.target.result;
      };
      reader.readAsDataURL(file);
      // console.log("test ===>",this.photo)
    },
    formShowProfileSubmit() {
      if (this.password === this.confirm_password) {
        var data = {
          name: this.name,
          username: this.username,
          password: this.confirm_password,
          email_id: this.email_id,
          user_type: "officer",
          mb_no: this.mb_no,
          photo: this.photo,
          current_place: [
            this.loggedPersonData.current_place[0],
            this.loggedPersonData.current_place[1]
          ]
        };
        console.log("changed data ===>", data);
        this.$http
          .put(
            process.env.VUE_APP_URL +
              "/api/user_details/" +
              store.state.user_id,
            data
          )
          .then(function(res) {
            alert("Updation success");
            console.log("response =>", res);
          })
          .catch(function(error) {
            console.log("error ==>", error);
          });
      } else {
        alert("username and password doesnot match");
      }
    },
    getUserProfile() {
      this.$http
        .get(
          process.env.VUE_APP_URL + "/api/user_details/" + store.state.user_id
        )

        .then(function(res) {
          this.loggedPersonData = res.data;
          this.name = this.loggedPersonData.name;
          this.username = this.loggedPersonData.username;
          this.password = this.loggedPersonData.password;
          this.confirm_password = this.loggedPersonData.password;
          this.mb_no = this.loggedPersonData.mb_no;
          this.photo = this.loggedPersonData.photo;
          this.email_id = this.loggedPersonData.email_id;
          console.log("logged person ===>", this.loggedPersonData);
          console.log("this.loggedPersonData.photo", res.data.photo);
        });
    },
    getNotifications() {
      this.allNotifications = [];
      this.$http
        .get(process.env.VUE_APP_URL + "/api/notifications")
        .then(function(res) {
          // var notifications = res.data
          // if(notifications.status == false){
          //   this.notification_content = true

          // }
          this.allNotifications = res.data;
          console.log("all content ==> ", this.allNotifications);

          this.notifications = [];
          this.complaint_data_from_notification = [];
          for (var i = 0; i < res.data.length; i++) {
            if (res.data[i].status == false) {
              this.notification_content = true;
              console.log("data ===>", res.data[i]);
              this.notifications.push(res.data[i]);
              this.$http
                .get(
                  process.env.VUE_APP_URL +
                    "/api/complaint_details_from_publics/" +
                    res.data[i].complaint_id
                )
                .then(function(res) {
                  this.complaint_data_from_notification = res.data;
                  console.log(
                    "complaint data ==>",
                    this.complaint_data_from_notification
                  );
                });
            }
          }
          console.log("notifications data ==>", this.notifications);
        });
    },
    allNotification(datas) {
      // this.allnotification_content = true
      this.selectedNotification = true;
      this.complaint_data_from_notification = [];
      console.log("data ===>", datas);
      this.notifications.push(datas);
      this.$http
        .get(
          process.env.VUE_APP_URL +
            "/api/complaint_details_from_publics/" +
            datas.complaint_id
        )
        .then(function(res) {
          this.complaint_data_from_notification = res.data;
          console.log(
            "complaint data ==>",
            this.complaint_data_from_notification
          );
        });
    },
    settings() {},
    changeValueVisited(data) {
      var object = {
        name: data.name,
        place: data.place,
        complaint_id: data.complaint_id,
        status: true
      };
      this.$http
        .put(process.env.VUE_APP_URL + "/api/notifications/" + data.id, object)
        .then(function(res) {
          console.log("notification updated ==>", res);
        })
        .catch(function(error) {
          console.log("Error ==>", error);
        });
    }
  }
};
</script>
