<template>
  <div class="font-style-sirin-stencil" id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './assets/style/css/side-bar.css';
@import './assets/style/scss/style.scss';

</style>
