<template>
  <div>
    <div class="breadcrumb margin-top-10px"  >
      <div v-for="(cl,i) in currentlink" :key="i" class="breadcrum-item active" >
        <a href="#" v-if="i===0" @click="data_transfer(i)">{{cl}}</a>
        <a href="#" v-if="i!=0" @click="data_transfer(i)">&nbsp;/&nbsp;{{cl}}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current_link: "Dashboard"
    };
  },
  props: {
    currentlink: {
      type: Array,
      twoWay: true
    }
  },
  methods: {
    data_transfer(idx) {
      // var array = []
      // for (var i = 0; i < this.currentlink.length; i++) {
      //   if (idx === i) {
      //     console.log('selected', this.currentlink[i])
      //     for (var j = 0; j<=i; j++) {
      //       console.log("j",j)
      //       array.push(this.currentlink[j])
      //       console.log("array",array)
      //     }
      //   }
      //   // this.current_link
      // }
      // this.currentlink = array
    }
  }
};
</script>
