<template>
    <div class="wrapper font-style-sirin-stencil">
        <!-- Sidebar Holder -->

            <nav id="sidebar" class="background-color-nav-bar">
                <br>
                <br>
                <br>
                  <div class="sidebar-header background-color-nav-bar">
                      <h3 class="font-style-ribeye">EatSafe</h3>
                  </div>

            <ul class="list-unstyled components ">
                <li class="active ">
                    <a href="" @click="reSet()" data-toggle="collapse" aria-expanded="false" >DashBoard</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Services</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a @click="reassignofficer()" href="#">Assign or Delete</a>
                        </li>
                        <li>
                            <a @click="hotellist()" href="#">Hotel List</a>
                        </li>
                        <li>
                            <a @click="officerslist()" href="#">Officers List</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <topbararea />
            <div v-if="hotel_list === true">
              <contenthotel :link="current"/>
            </div>
            <div v-else-if="officer_list === true">
              <contentofficerlist :link="current"/>
            </div>
            <contentarea v-if="hotel_list === false && officer_list=== false "  :historyarea="history_area"  :reassignofficer="reassign_area" :create_officer="officer_area" :link="current"/>
        </div>
    </div>
</template>

<script>
import contentarea from './contentarea.vue'
import topbararea from './topbararea.vue'
import contenthotel from './contenthotel.vue'
// import contentadminlist from './contentadminlist.vue'
import contentofficerlist from './contentofficerlist.vue'

export default {
  components: {
    contentarea,
    topbararea,
    contenthotel,
    // contentadminlist,
    contentofficerlist
  },
  props: {
    officer_area: {
      type: Boolean,
      default: false
    },
    reassign_area: {
      type: Boolean,
      default: false
    },
    history_area: {
      type: Boolean,
      default: true
    },
    hotel_list: {
      type: Boolean,
      default: false
    },
    officer_list: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      current: ['Dashboard']
    }
  },
  mounted () {
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active')
        $(this).toggleClass('active')
      })
    })
  },
  methods: {
    reSet () {
      this.current = ['Dashboard']
      this.officer_area = false
      this.officer_list = false
      this.history_area = true
      this.hotel_list = false
      this.reassign_area = false
    },
    createofficer () {
      this.officer_area = true
      this.officer_list = false
      this.history_area = false
      this.hotel_list = false
      this.reassign_area = false
      this.current.push('Create Officers')
    },
    reassignofficer () {
      this.reassign_area = true
      this.officer_list = false
      this.history_area = false
      this.hotel_list = false
      this.officer_area = false
      this.current.push('Reassign Officers')
    },
    hotellist () {
      this.hotel_list = true
      this.officer_list = false
      this.history_area = false
      this.reassign_area = false
      this.officer_area = false
      this.current.push('Hotel List')
    },
    officerslist () {
      this.officer_list = true
      this.hotel_list = false
      this.history_area = false
      this.reassign_area = false
      this.officer_area = false
      this.current.push('Officer List')
    }
  }
}
</script>

<style>
@import "../../assets/style/css/side-bar.css";
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #e9ecef;
    color: #000;
    -webkit-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    background: #e9ecef;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e9ecef;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e9ecef;
}
#sidebar ul li a:hover {
    color: #000000;
    background: #e9ecef;
}
h3, .h3 {
    font-size: 2.75rem;
}
.bg-light {
    background-color: #8d8d8d !important;
}
</style>
