<template>
  <div class="about">
    <front-header />
    <section class="site-hero site-hero-innerpage overlay site-hero1" data-stellar-background-ratio="0.5" style="background-image: url(@/assets/images/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>About Us</h1>
              <p>Search &amp;Find Nearest hotels which serves the food safely.</p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
     <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-5 element-animate animated fadeInLeft" >
            <img src="@/assets/images/img_1.jpg" class="img-md-fluid" alt="Placeholder image">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0 element-animate animated fadeInRight" >
            <h2>About Us</h2>
            <p>Eatsafe helps you to find the safest place for taking food. We are just showing the details of the hotels which what is food and safety officers says about the place.
                The hotels will be listed out with the ratings which is given by the <a href="http://www.foodsafety.kerala.gov.in/">Office of the Commissioner of Food Safety - Kerala</a>
                at the time when they inspect the hotel.</p>
                <p>The details shown in this website is completely the government data and we are just showing the
                data to the public.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-cover section-cover-bg-img" data-stellar-background-ratio="0.5">
      <div class="container-fluid" style="background-color: #00000052;margin-left: 0px;margin-right: 0px;">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2 style="font-weight:bold;font-size: 80px;">EatSafe Stay Safe</h2>
            <p style="font-weight:bold;">You can find the details of the hotel which is updating by the FSSAI.</p>
            <p><a href="/" class="btn btn-black">Get Started</a></p>
          </div>
        </div>
      </div>
    </section>
    <front-footer />
  </div>
</template>

<script>
import FrontHeader from "@/components/FrontHeader.vue";
import FrontFooter from "@/components/FrontFooter.vue";

export default {
  name: "about",
  components: {
    FrontHeader,
    FrontFooter
  }
};
</script>

<style>
@import "../assets/css/style.css";
@import "../assets/css/animate.css";
.section-cover-bg-img {
  background-image: url(../assets/images/big_image_2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
