<template>
    <div class="contact">
        <front-header />
        <section class="site-hero site-hero-innerpage overlay site-hero1" data-stellar-background-ratio="0.5" style="background-image: url(@/assets/images/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Contact</h1>
              <p>Search &amp; Find the safest places to eat.</p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-5 element-animate">
            <h3 class="mb-5">Say "Hi", Don't be shy to give us a feedback.</h3>
            <form action="#" method="post">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" class="form-control ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="phone">Phone</label>
                      <input type="text" id="phone" class="form-control ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" class="form-control ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="message">Write Message</label>
                      <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Send Message" class="btn btn-primary" style="border-radius:50px;">
                    </div>
                  </div>
                </form>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 element-animate">
            <h3 class="mb-5">Contact Info</h3>
             <ul class="list-unstyled ">
              <li class="d-flex mb-3"><span class="mr-3"><span class="icon ion-ios-location"></span></span><span class="">Address</span></li>
              <li class="d-flex mb-3"><span class="mr-3"><span class="icon ion-ios-telephone"></span></span><span class="">+1 23456789</span></li>
              <li class="d-flex mb-3"><span class="mr-3"><span class="icon ion-email"></span></span><span class="">abcd@efghij.com</span></li>
            </ul>
          </div>
          
        </div>
      </div>
    </section>
    <section class="section-cover section-cover-bg-img" data-stellar-background-ratio="0.5">
      <div class="container-fluid" style="background-color: #00000052;margin-left: 0px;margin-right: 0px;">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2 style="font-weight:bold;font-size: 80px;">EatSafe Stay Safe</h2>
            <p style="font-weight:bold;">You can find the details of the hotel which is updating by the FSSAI.</p>
            <p><a href="/" class="btn btn-black">Get Started</a></p>
          </div>
        </div>
      </div>
    </section>
    <front-footer />
    </div>
</template>
<script>
import FrontHeader from "@/components/FrontHeader.vue";
import FrontFooter from "@/components/FrontFooter.vue";
export default {
  name: "contact",
  components: {
    FrontHeader,
    FrontFooter
  }
};
</script>
