<template>
    <div class="forms">
        <front-header />
        <front-form-section :formElements="formElement"/>
        <front-footer />
    </div>
</template>
<script>
import FrontHeader from "@/components/FrontHeader.vue";
import FrontFooter from "@/components/FrontFooter.vue";
import FrontFormSection from "@/components/FrontFormSection.vue";
export default {
  name: "forms",
  components: {
    FrontHeader,
    FrontFooter,
    FrontFormSection
  },
  props: {
    formElement: {
      type: String,
      twoWay: true
    }
  },
  mounted() {
    this.formElement = this.$route.query.value;
  },
  updated() {
    this.formElement = this.$route.query.value;
  }
};
</script>
