<template>
    <div class="hoteldetails">
        <front-header />
        <section class="site-hero overlay page-inside" :style="{'background-image': 'url('+hotelDetails.images[0]+')'}">
            <div class="container">
                <div class="row site-hero-inner justify-content-center align-items-center">
                <div class="col-md-10 text-center">
                    <h1 class="heading" data-aos="fade-up">{{hotelDetails.name}}</h1>
                    <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Enjoy your food</p>
                </div>
                </div>
            </div>
        </section>
        <section class="bg-light">
            <div class="half d-md-flex d-block">
                <div class="image" data-aos="fade" :style="{'background-image': 'url('+hotelDetails.images[1]+')'}"></div>
                <div class="text" data-aos="fade-right" data-aos-delay="200">
                <h3 class="text-align-center"><b>Rating from FSSAI</b></h3>
                <h3 class="text-align-center">{{hotelDetails.rating[0]}}</h3>

                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <div class="line"></div>
                <!-- <div id="chartContainer2" style="height: 300px; width: 100%;"></div> -->

                </div>
            </div>

            <div class="half d-md-flex d-block">
                <div class="image order-2" data-aos="fade"  :style="{'background-image': 'url('+hotelDetails.images[2]+')'}"></div>
                <div class="text" data-aos="fade-left" data-aos-delay="200">
                <h3><b><u>More Details</u></b></h3>
                   <div class="row">
                       <div class="col-lg-3 col-md-5 col-sm-3">
                           <h4><b>Address</b></h4>
                       </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <h4>:-</h4>
                        </div>
                       <div class="col-lg-8 col-md-6 col-sm-8">
                           <p style="color:black !important;">{{hotelDetails.address}}</p>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-3 col-md-5 col-sm-3">
                           <h4><b>Licence Number</b></h4>
                       </div>
                       <div class="col-lg-1 col-md-1 col-sm-1">
                            <h4 style="line-height: 5rem !important;">:-</h4>
                        </div>
                       <div class="col-lg-8 col-md-6 col-sm-8">
                           <p style="color:black !important; line-height: 5rem !important;">{{hotelDetails.licence_number}}</p>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-3 col-md-5 col-sm-3">
                            <h4><b>District</b></h4>
                       </div>
                       <div class="col-lg-1 col-md-1 col-sm-1">
                            <h4>:-</h4>
                        </div>
                       <div class="col-lg-8 col-md-6 col-sm-8">
                           <p style="color:black !important;">{{hotelDetails.place.district}} </p>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-3 col-md-5 col-sm-3">
                           <h4><b>Circle</b></h4>
                       </div>
                       <div class="col-lg-1 col-md-1 col-sm-1">
                            <h4>:-</h4>
                        </div>
                       <div class="col-lg-8 col-md-6 col-sm-8">
                           <p style="color:black !important;">{{hotelDetails.place.circle}}</p>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-3 col-md-5 col-sm-3">
                           <h4><b style="display:flex;">Inspection Details</b></h4>
                       </div>
                       <div class="col-lg-1 col-md-1 col-sm-1">
                            <h4>:-</h4>
                        </div>
                       <div class="col-lg-8 col-md-6 col-sm-8" v-for="(data,i) in hotelDetails.inspection_details" :key="i">
                           <p style="color:black !important;">{{data}}</p>
                       </div>
                   </div>
                <div class="card" style="background: lightgray;">
                      <div class="card-body">
                        <div class="card-header" style="text-align: center;background-color: white;border: 1px solid;border-color: black;" >
                            <b style="color:black !important;"><u>Previous Registered Complaints</u></b>
                        </div>
                        <br>
                        <div v-if="complaint_data.length>0" class="card-text background-color-red" style="padding: 10px 0px 1px 0px;">
                          <ul v-for="(data,i) in complaint_data" :key="i">
                            <li>
                              <h6 style="color:black;"><strong>1. {{data.value}}</strong></h6>
                              <h6 style="color:#007bff;"><strong>STATUS : <span v-if="data.status === `RESOLVED`" class="status-green">{{data.status}}</span><span v-else  class="status-red">{{data.status}}</span></strong></h6>
                            </li>
                          </ul>
                        </div>
                        
                        <div v-else class="card-text">
                            <h6 style="text-align:center;color:black;"><strong>No Registered Complaints</strong></h6>
                        </div>
                      </div>
                    </div>

                </div>
                
            </div>

        </section>
        <section class="section slider-section">
            <div class="container">
                <div class="row justify-content-center text-center mb-5">
                <div class="col-md-8">
                    <h2 class="heading" data-aos="fade-up">Hotel location</h2>
                    
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div ref="googleMap" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                <div style="padding-bottom:1%;"></div>
                <div style="padding-bottom:1%;"></div>
                <div class="row">
                    <h4 style="color:red;margin:0 auto;">Submit a complaint about {{hotelDetails.name}}</h4><br />
                    <br />
                    <div class="col-lg-4 offset-lg-4 justify-content-center align-items-center">
                        <input type="submit" @click="complaintPush()" class="form-control btn btn-primary" />
                    </div>
                </div>
            </div>
        </section>
        
        <front-footer />>
    </div>
</template>

<script>
import FrontHeader from "@/components/FrontHeader.vue";
import FrontFooter from "@/components/FrontFooter.vue";
import store from "@/store.js";
import router from "@/router.js";

export default {
  name: "hoteldetails",
  components: {
    FrontHeader,
    FrontFooter
  },
  props: {
    // hotelDetails:{
    //     type:Object,
    //     twoWay:true
    // }
  },
  data() {
    return {
      hotelDetails: store.state.currentHotel,
      complaintDetails: null,
      complaint_data: []
    };
  },
  mounted() {
    this.myMap();
    this.chart();
    this.complaintDataFetch();
  },
  methods: {
    complaintPush() {
      router.push({
        path: "/forms",
        query: { value: "COMPLAINT FORM", data: this.hotelDetails }
      });
    },
    myMap() {
      var latlng = new google.maps.LatLng(
        store.state.currentLocation.lat,
        store.state.currentLocation.lng
      );
      var hotellatlng = new google.maps.LatLng(
        this.hotelDetails.location.lat,
        this.hotelDetails.location.lng
      );
      var mapProp = {
        center: latlng,
        zoom: 10
      };
      var contentString = `<div class="row">
                                <div class="col-lg-3">
                                    <h6><b>Name</b></h6>
                                </div>
                                <div class="col-lg-1">
                                    <h6>:-</h6>
                                </div>
                                <div class="col-lg-8">
                                    <h6>${this.hotelDetails.name}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h6><b>Address</b></h6>
                                </div>
                                <div class="col-lg-1">
                                    <h6>:-</h6>
                                </div>
                                <div class="col-lg-8">
                                    <h6>${this.hotelDetails.address}</h6>
                                </div>
                            </div>`;

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var map = new google.maps.Map(
        /** @type {!HTMLInputElement} */ this.$refs["googleMap"],
        mapProp
      );
      var marker = new google.maps.Marker({
        position: hotellatlng,
        map: map,
        title: this.hotelDetails.name
      });
      marker.addListener("click", function() {
        infowindow.open(map, marker);
      });
    },
    directionFinding() {
      console.log("called");
    },
    chart() {
      var data = [
        { y: this.hotelDetails.rating[1], label: "main", mockDataValue: 2 },
        {
          y: this.hotelDetails.rating[2],
          label: "Design & facilities",
          mockDataValue: 30
        },
        {
          y: this.hotelDetails.rating[3],
          label: "Control of operation",
          mockDataValue: 40
        },
        {
          y: this.hotelDetails.rating[4],
          label: "Maintenance & sanitation",
          mockDataValue: 20
        },
        {
          y: this.hotelDetails.rating[5],
          label: "Personal Hygiene",
          mockDataValue: 10
        },
        {
          y: this.hotelDetails.rating[6],
          label: "Training & records keeping",
          mockDataValue: 10
        }
      ];
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
          text: "Rating All Category ",
          horizontalAlign: "left"
        },
        data: [
          {
            type: "doughnut",
            startAngle: 60,
            innerRadius: 85,
            indexLabelFontSize: 17,
            indexLabel: "{label} - {y} Points",
            toolTipContent: "<b>{label}:</b> {y}/{mockDataValue}",
            dataPoints: data
          }
        ]
      });
      chart.render();
    },
    barchart() {
      var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: true,

        title: {
          text: "Rating Scored"
        },
        axisX: {
          interval: 1
        },
        axisY2: {
          interlacedColor: "rgba(1,77,101,.2)",
          gridColor: "rgba(1,77,101,.1)",
          title: "Rating Points Scored"
        },
        data: [
          {
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: [
              { y: 2, label: "main" },
              { y: 30, label: "Design & facilities" },
              { y: 40, label: "Control of operation" },
              { y: 20, label: "Maintenance & sanitation" },
              { y: 10, label: "Personal Hygiene" },
              { y: 10, label: "Training & records keeping" }
            ]
          }
        ]
      });
      chart2.render();
    },
    complaintDataFetch() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/complaint_details_from_publics")
        .then(function(res) {
          store.commit("getComplaint", res.data);
          this.complaintDetails = res.data;
          var final = [];
          for (var i = 0; i < this.complaintDetails.length; i++) {
            if (
              this.complaintDetails[i].name_of_hotel ===
                this.hotelDetails.name &&
              this.complaintDetails[i].id_of_hotel === this.hotelDetails.id
            ) {
              var complaint_type = this.complaintDetails[i]
                .category_of_complaint;
              var status = this.complaintDetails[i].status_of_complaint;

              var result = complaint_type.split(" ");
              for (i = 0; i < result.length; i++) {
                if (i == 0) {
                } else {
                  final.push(result[i] + " ");
                }
              }
              var value_for_complaint = final.join(" ");
              this.complaint_data.push({
                value: value_for_complaint,
                status: status
              });
            }
          }
        })
        .catch(function(error) {
          console.log("Error When Fetching complaint details :", error);
        });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/css/style_hotel_page.css";
.line {
  padding: 6px;
}
.bg-light {
  background-color: #ffffff !important;
}
</style>
