<template>
  <div class="superadmin" v-if="showarea === true">
    <navigationbar />
    <!-- <contentarea  /> -->
  </div>
</template>

<script>
import navigationbar from "../components/superadmin/navigationbar.vue";
import store from "@/store.js";
// import {ApiCalls} from '@/mixins/ApiCalls.js';
// import contentarea from '../components/superadmin/contentarea.vue'
export default {
  name: "superadmin",
  components: {
    navigationbar
    // contentarea
  },
  // mixins:[ApiCalls],
  data() {
    return {
      showarea: false
    };
  },
  mounted() {
    console.log("called");
    if (store.state.user_type === "superadmin") {
      this.showarea = true;
    } else {
      alert("Sorry you just refreshed!! login again");
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss">
</style>
