<template>
</template>
<script>
// import { testMixin } from '@/views/testMixin.js'
// import LoopbackResource from '../services.js';

// const LoopbackResourceService = new LoopbackResource();

// LoopbackResourceService.getDistricts()
//     .then((data) => {
//         console.log("data => ",data)
//     })
//     LoopbackResourceService.getCircles()
//     .then((data) => {
//         console.log("data => ",data)
//     })
// LoopbackResourceService.getHotels()
// .then((data) => {
//     console.log("data => ",data)
// })
// LoopbackResourceService.getUsers()
// .then((data) => {
//     console.log("data => ",data)
// })
// LoopbackResourceService.getComplaints()
// .then((data) => {
//     console.log("data => ",data)
// })
// LoopbackResourceService.getInspectionFormDetails()
// .then((data) => {
//     console.log("data => ",data)
// })
// LoopbackResourceService.getInspectionDetails()
// .then((data) => {
//     console.log("data => ",data)
// })
// LoopbackResourceService.getSuggestionDetails()
// .then((data) => {
//     console.log("data => ",data)
// })
// LoopbackResourceService.getNotifications()
// .then((data) => {
//     console.log("data => ",data)
// })
// console.log(LoopbackResourceService)
export default {
  // mixins:[testMixin],
  mounted() {
    // console.log("hotel details",this.$root.$data,this.$root)
    // var data = this.$root.getDistrict()
    // console.log("return",this.$root,data)
  }
};
</script>
