<template>
  <div class="home font-style-sirin-stencil">

    <front-header />
    <front-first-section />
    <front-hotel-details-section />
    <section class="section-cover section-cover-bg-img" data-stellar-background-ratio="0.5">
      <div class="container-fluid" style="background-color: #00000052;margin-left: 0px;margin-right: 0px;">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2 style="font-weight:bold;font-size: 80px;">EatSafe Stay Safe</h2>
            <p style="font-weight:bold;">You can find the details of the hotel which is updating by the FSSAI.</p>
            <p><a href="/" class="btn btn-black">Get Started</a></p>
          </div>
        </div>
      </div>
    </section>
    <front-top-hotels />
    <front-footer />
    
  </div>
</template>

<script>
// @ is an alias to /src
import Vue from "vue";
import FrontHeader from "@/components/FrontHeader.vue";
import FrontFirstSection from "@/components/FrontFirstSection.vue";
import FrontHotelDetailsSection from "@/components/FrontHotelDetailsSection.vue";
import FrontFooter from "@/components/FrontFooter.vue";
import FrontTopHotels from "@/components/FrontTopHotels.vue";
// import {ApiCalls} from '@/mixins/ApiCalls.js';

export default {
  name: "home",
  // mixins:[ApiCalls],
  components: {
    FrontHeader,
    FrontFirstSection,
    FrontHotelDetailsSection,
    FrontFooter,
    FrontTopHotels
  },
  mounted() {
    // var districtDetails = getDistricts
    // console.log("District Details",this.districtDetails)
    console.log("base url",process.env.BASE_URL)
  },
  methods: {
    getMixinData() {}
  }
};
</script>
<style>
@import "../assets/css/style.css";
@import "../assets/css/animate.css";
.section-cover-bg-img {
  background-image: url("../assets/images/big_image_2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
