<template>
        <section class="site-hero site-hero1 overlay" data-stellar-background-ratio="0.5" style="width:100%" >
            <img src="../assets/images/big_image_1.jpg" alt="" style="width:100%;height:100vh;min-height: 750px;">
    <div class="container " style="position: absolute;top: 0;">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Find place where you can eat safely</h1>
              <p>Search&amp; find the hotels near to you with its rating.</p>
            </div>

            <div class="form-inline element-animate" id="search-form" style="display: flex;margin: 0 auto;justify-content: center;">
              <label for="s" class="sr-only">Location</label>
              <input type="text" class="form-control form-control-block search-input" ref="autocomplete" placeholder="Search Location" >
              <input type="submit" placeholder="Search" @click="findHotels(changedLocation)" class="btn btn-primary"  />
              <!-- <input type="submit" value="Search" onclick="" class="btn btn-primary"> -->
            </div>
           
          </div>
          <!-- <h2 style="padding-left: 120px;">Hotels near to your location</h2> -->
        </div>
         
      </div>
      
  </section>
</template>

<script>
export default {
    mounted(){
        // console.log(process.env.VUE_APP_URL)
        this.get()
    },
    methods:{
        get(){
            this.$http.get('http://ec2-35-156-110-184.eu-central-1.compute.amazonaws.com/api/hotel_details')
            .then(function(res){
                console.log("data",res.data)
            })
            .catch(function(error){
                console.log("error",error)
            })
        }
    }
    
}
</script>
<style>
@import "../assets/css/style.css";
@import "../assets/css/animate.css";
</style>