<template>
  <div class="row">
    <div class="col-lg-12 margin-top-75px border-1px">
      <breadcrum :currentlink = "link" />
      <dataaboutapp />
      <br>
      <div class="card">
        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title"><strong>History</strong></h5>
            <table class="table table-bordered text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
              <thead>
                <tr style="background-color: #afadad;">
                  <th>Hotel name</th>
                  <th>District</th>
                  <th>Circle</th>
                </tr>
              </thead>
              <tbody v-if="datacontenthotel===true">

                <tr v-for="(data,i) in area_hotel_details" :key="i">
                  <td @click="hotelDetailsShow(data),getImages()" data-toggle="modal" data-target=".bd-example-modal-lg2">{{data.name}}</td>
                  <td>{{data.place.district}}</td>
                  <td>{{data.place.circle}}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="3"><h3 text-align-center>No Hotels Found</h3></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <br>
        <div class="modal fade bd-example-modal-lg2 " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12 text-align-center">
                  <h3><strong><u>
                      {{hotel_name}}</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </strong></h3>
                  </div>
                </div>
                <br>
                <br>

                <div class="row">
                  <div class="col-lg-6 text-align-center">
                    <h6 class="text-align-left">
                      <strong>Name :</strong> {{hotel_name}}
                    </h6>
                    <h6 class="text-align-left">
                      <strong>Address :</strong> {{address_of_hotel}}
                    </h6>
                    <h6 class="text-align-left">
                      <strong>Licence Number :</strong> {{licence_number}}
                    </h6>
                    <h6 class="text-align-left">
                      <strong>District :</strong> {{district_name}}
                    </h6>
                    <h6 class="text-align-left">
                      <strong>Circle :</strong> {{circle_name}}
                    </h6>
                    <h6 class="text-align-left">
                      <strong>Geo Location :</strong>Lattitude: {{lat}} , Longitude: {{lng}}
                    </h6>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <div class="card-header"  >
                            <b><u>Previous Registered Complaints</u></b>
                        </div>
                        <div v-if="complaint_data.length>0" class="card-text background-color-red">
                          <ul v-for="(data,i) in complaint_data" :key="i">
                            <li>
                              <h6><strong>1. {{data.value}}</strong></h6>
                              <h6><strong>STATUS : <span v-if="data.status === `RESOLVED`" class="status-green">{{data.status}}</span><span v-else  class="status-red">{{data.status}}</span></strong></h6>
                            </li>
                          </ul>
                        </div>
                        <div v-else class="card-text">
                            <h6><strong>No Registered Complaints</strong></h6>
                        </div>
                      </div>
                    </div>
                                  <br>
                    <div class="card background-color-green">
                      <div class="car-body ">
                        <div class="card-header ">
                          <h6>
                            <strong>
                              Ratings from Food and Safety Officer
                            </strong>
                          </h6>
                        </div>
                          <div class="row">
                            <div v-if="rating!=null" class="col-lg-4 offset-lg-2">

                              <!-- <radial-progress-bar :diameter="200"
                            :completed-steps="rating"
                            :total-steps="100"
                            :animateSpeed = "1500"
                            :fps="100">
                              <h1 class="font-size-custom">{{rating}}%</h1>
                              </radial-progress-bar> -->
                            </div>
                            <div v-else class="col-lg-4 offset-lg-4">
                                <h6 class="text-align-center">Sorry not yet rated</h6>
                            </div>
                          </div>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <div class="card-header">
                          <h6>
                            <strong>
                            Inspection details
                            </strong>
                          </h6>
                          <div class="card-text">
                            <ul v-if="inspection_details" v-for="(ins,i) in inspection_details" :key="i">
                              <li><a @click="getInspectionData(inspection_details)">{{ins}}</a></li>
                              <!-- <iframe v-if="pdfArea === true" :src="pdfData" type="application/pdf" width="100px" height=100px></iframe> -->
                            </ul>

                            <ul v-else>
                              No Inspection Details Found
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                  <div class="col-lg-6">
                    <div class="border-box" v-for="(im,i) in hotel_images" :key="i">
                      <img class="img-fluid" style="width:100%"  :src="im" alt="No image found" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import breadcrum from "./breadcrum.vue";
import dataaboutapp from "./dataaboutapp.vue";
// import RadialProgressBar from 'vue-radial-progress'
import store from "@/store.js";

export default {
  components: {
    breadcrum,
    dataaboutapp
    // RadialProgressBar
  },
  data() {
    return {
      pdfData: null,
      pdfArea: false,
      datacontenthotel: false,
      hotel_details: [],
      hotel_name: null,
      address_of_hotel: null,
      licence_number: null,
      district_name: null,
      circle_name: null,
      lat: null,
      lng: null,
      rating: null,
      inspection_details: [],
      complaint_details: [],
      inspection_details: [],
      complaint_data: [],
      hotel_images: [],
      userDetails: [],
      area_hotel_details: []
    };
  },
  mounted() {
    this.getHotelList();
    this.getComplaintDetails();
  },
  methods: {
    getInspectionData(insp) {
      const base64 = require("base64topdf");
      this.$http
        .get(process.env.VUE_APP_URL + "/api/inspection_details")
        .then(function(res) {
          console.log("kjaskdnaskd", res, insp, base64);
          for (var i = 0; i < res.data.length; i++) {
            // console.log(res.data[i].inspectionData)
            if (res.data[i].inspectionData) {
              this.pdfArea = true;
              if (res.data[i].date === insp) {
                this.pdfData = res.data[i].inspectionData;
                let decodedBase64 = base64.base64Decode(
                  this.pdfData,
                  "home/rajasrajeev/Documents/testinspectionpdf.pdf"
                );
                console.log(decodedBase64);
              }
            } else {
              console.log("no pdf available");
            }
          }
        });
    },
    getHotelList() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/hotel_details")
        .then(function(res) {
          // console.log("Hotel datas ==>",res.data)
          if (res.data.length > 0) {
            this.hotel_details = res.data;
          }
          console.log("check", store.state.fullDetails.current_place[0]);
          for (var i = 0; i < this.hotel_details.length; i++) {
            if (
              this.hotel_details[i].place.district ===
              store.state.fullDetails.current_place[0]
            ) {
              this.area_hotel_details.push(this.hotel_details[i]);
              this.datacontenthotel = true;
            }
          }
        })
        .catch(function(error) {
          console.log("Error ==> ", error);
        });
    },
    getComplaintDetails() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/complaint_details_from_publics")
        .then(function(res) {
          this.complaint_details = res.data;
          console.log("Complaint Data==> ", this.complaint_details);
        })
        .catch(function(error) {
          console.log("Error ==> ", error);
        });
    },
    hotelDetailsShow(details) {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/hotel_images")
        .then(function(res) {
          console.log(res.body);
          for (var i = 0; i < res.body.length; i++) {
            if (
              res.body[i].hotel_name === details.name &&
              res.body[i].hotel_id === details.id
            ) {
              // this.hotel_images = res.body[i].image_names
              console.log("hotel images loaded ==>", this.hotel_images);
            }
          }
          this.complaint_data = [];
          var id_of_hotel = details.id;
          this.hotel_name = details.name;
          this.address_of_hotel = details.address;
          this.licence_number = details.licence_number;
          this.lat = details.location.lat;
          this.lng = details.location.lng;
          this.hotel_images = details.images;
          this.rating = details.rating;
          this.district_name = details.place.district;
          this.circle_name = details.place.circle;
          this.inspection_details = details.inspection_details;
          var final = [];
          for (var i = 0; i < this.complaint_details.length; i++) {
            if (
              this.complaint_details[i].name_of_hotel === this.hotel_name &&
              this.complaint_details[i].id_of_hotel === id_of_hotel
            ) {
              var complaint_type = this.complaint_details[i]
                .category_of_complaint;
              var status = this.complaint_details[i].status_of_complaint;
              console.log("complaint type", complaint_type, status);
              var result = complaint_type.split(" ");
              console.log("result", result);
              for (i = 0; i < result.length; i++) {
                if (i == 0) {
                } else {
                  final.push(result[i] + " ");
                }
              }
              var value_for_complaint = final.join(" ");
              console.log("value ", value_for_complaint);
              this.complaint_data.push({
                value: value_for_complaint,
                status: status
              });
              console.log("complaint data ==> ", this.complaint_data);
            }
          }
        });
    }
  },
  props: {
    link: {
      type: Array
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
