<template>
  <div class="row">
    <div class="col-lg-12 margin-top-75px border-1px">
      <breadcrum :currentlink = "link" />
      <dataaboutapp />
      <br>
      <div v-if="historyarea === true" class="card">
        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title"><strong>History</strong></h5>
            <div class="row">
              <div class="col-lg-12">
                <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
                  <thead>
                    <tr>
                      <th>Admin Name</th>
                      <th>District</th>
                      <th>Circle</th>
                      <th>Action Done</th>
                    </tr>
                  </thead>
                  <tbody v-if="datacontenthistory===true">

                    <tr style="background-color: #afadad;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="4"><h3 text-align-center>No History Found</h3></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="reassignofficer === true"  class="card">
        <div class="card-title">
          <h5>Reassign And Delete Admins</h5>
          <div class="card-body">
            <strong><i class="fa fa-user-o">:- Assign</i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash-o"> :- Delete Admin</i></strong>
            <div class="row">
              <div class="col-lg-12">
                <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
                  <thead>
                    <tr style="background-color: #afadad;">
                      <th>officer Name</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>District</th>
                      <th>Circle</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody v-if="datacontentreassign===true" @load="getdata(),getDistricts()">
                    <tr v-for="(data,i) in user_data" :key="i" v-if="data.user_type === 'officer'">
                      <td>{{data.name}}</td>
                      <td>{{data.username}}</td>
                      <td>{{data.password}}</td>
                      <td>{{data.current_place[0]}}</td>
                      <td>{{data.current_place[1]}}</td>
                      <td><strong><i class="fa fa-user-o" @click="assignofficer(data.id,data.name,data.current_place)" data-toggle="modal" data-target="#modal">&nbsp;/&nbsp;&nbsp;</i>&nbsp;&nbsp;<i class="fa fa-trash-o" @click="deleteofficer(data.id,data.name,data.current_place)" data-toggle="modal" data-target="#modal"></i></strong></td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="5"><h3 text-align-center>No Admins Found</h3></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header ">
              <h5 class="modal-title text-align-center" id="exampleModalLabel">{{modal_title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- assign admin -->
            <div v-if="modal_display_value === 'assign'" >
              <!-- <div v-if="district_name_value === true" class="modal-body alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong>Sorry! admin is already under a district, please delete the admin to continue</strong>
              </div> -->
              <div class="modal-body" >
                <div class="form-group">
                  District :
                    <select class="form-control" @change="findName()" v-model="district_name" required>
                      <option value="" selected disabled>DISTRICT</option>
                      <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                    </select>
                </div>
                <div class="form-group" >
                    Circle
                    <select class="form-control" v-model="circle_name" required>
                        <option value = "" selected disabled>Circle</option>
                        <option v-for="(i,index) in circle_details_complete" :key="index">{{i.circle_name}}</option>
                    </select>
                  </div>
              <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="submit_assign_officer(),getdata()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- delete admins -->
            <div v-if="modal_display_value === 'delete'" >
              <div class="modal-body" v-if="district_name">
                <div class="form-group">
                  District :
                  <input class="form-control" type="text" :placeholder="district_name">

                  Circle:
                   <input class="form-control" type="text" :placeholder="circle_name">
                  <!-- <select class="form-control" v-model="district_name" required>
                    <option value="" selected disabled>DISTRICT</option>
                    <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                  </select> -->
                </div>
                <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="submit_delete_officer(),getdata()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
              </div>
              <div v-else class="modal-body alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong>Sorry! No Districts available</strong>
              </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import breadcrum from "./breadcrum.vue";
import dataaboutapp from "./dataaboutapp.vue";

export default {
  components: {
    breadcrum,
    dataaboutapp
  },
  props: {
    link: {
      type: Array
    },
    create_officer: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    historyarea: {
      type: Boolean,
      twoWay: true,
      default: true
    },
    reassignofficer: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    hotellist: {
      type: Boolean,
      twoWay: true,
      default: false
    }
  },
  data() {
    return {
      name: null,
      email_id: null,
      username: null,
      password: null,
      mb_no: null,
      photo: null,
      district_details: [],
      user_data: [],
      datacontentreassign: true,
      circle_details: [],
      modal_title: null,
      modal_display_value: null,
      district_name: null,
      district_name_value: false,
      officer_name_for_assign: null,
      officer_id: null,
      circle_details_complete: [],
      circle_name: null,
      datacontenthistory: false,

      admin_data_array: [],
      pushing_array: []
    };
  },
  mounted() {
    this.getdata();
    this.getDistricts();
    this.getCircles();
  },
  methods: {
    assignofficer(id, name, district_name) {
      this.modal_title = "Assign Officer";
      this.modal_display_value = "assign";
      this.district_name = district_name[0];
      this.circle_name = district_name[1];
      this.district_name_value = false;
      this.officer_name_for_assign = name;
      this.officer_id = id;
    },
    deleteofficer(id, name, district_name) {
      this.modal_title = "Delete officer";
      this.modal_display_value = "delete";
      this.district_name = district_name[0];
      this.circle_name = district_name[1];
      this.district_name_value = false;
      this.officer_name_for_assign = name;
      this.officer_id = id;
    },
    getdata() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/user_details")
        .then(function(res) {
          if (res.data.length > 0) {
            this.datacontentreassign = true;
          }
          this.user_data = [];
          for (var i = 0; i < res.data.length; i++) {
            this.user_data.push(res.data[i]);
          }
        });
    },
    getDistricts() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/list_of_districts")
        .then(function(response) {
          this.district_details = response.data;
          console.log("districts ==>", this.district_details);
          for (var i = 0; i < this.district_details.length; i++) {}
        })
        .catch(function(error) {
          console.log("Error:", error);
        });
    },
    findName() {
      this.circle_details_complete = [];
      for (var i = 0; i < this.district_details.length; i++) {
        if (this.district_name === this.district_details[i].district_name) {
          var district_id = this.district_details[i].id;
        }
      }
      for (var i = 0; i < this.circle_details.length; i++) {
        if (district_id === this.circle_details[i].district_id) {
          this.circle_details_complete.push({
            circle_name: this.circle_details[i].circle_name
          });
        }
      }
    },
    getCircles() {
      this.$http
        .get(process.env.VUE_APP_URL + "/api/circles_details")
        .then(function(response) {
          this.circle_details = response.data;
        })
        .catch(function(error) {
          console.log("Error:", error);
        });
    },

    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var photo = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.photo = e.target.result;
      };
      reader.readAsDataURL(file);
      console.log("photo => ", this.photo);
    },
    submit_assign_officer() {
      var flag = 0;
      this.admin_data_array = [];
      this.pushing_array = [];
      for (var i = 0; i < this.user_data.length; i++) {
        if (this.officer_id === this.user_data[i].id) {
          this.admin_data_array.push(this.user_data[i]);
        }
      }
      for (i = 0; i < this.district_details.length; i++) {
        for (var j = 0; j < this.circle_details.length; j++) {
          if (
            this.district_name == this.district_details[i].district_name &&
            this.circle_name == this.circle_details[j].circle_name
          ) {
            this.pushing_array.push(this.circle_details[j]);
            this.circle_id = this.circle_details[j].id;
            this.admin_data_array[0].current_place = [];
            this.admin_data_array[0].current_place.push(this.district_name);
            this.admin_data_array[0].current_place.push(this.circle_name);
            this.pushing_array[0].current_officer_id = this.officer_id;
            this.$http
              .put(
                process.env.VUE_APP_URL +
                  "/api/circles_details/" +
                  this.circle_id,
                this.pushing_array[0]
              )
              .then(function(res) {
                console.log("response from list of circles : ", res);
              })
              .catch(function(error) {
                console.log("Error : ", error);
              });
            this.$http
              .put(
                process.env.VUE_APP_URL +
                  "/api/user_details/" +
                  this.officer_id,
                this.admin_data_array[0]
              )
              .then(function(res) {
                console.log("response form user details : ", res);
              })
              .catch(function(error) {
                console.log("error in user details :", error);
              });
            this.getdata();
            this.getDistricts();
          } else {
          }
        }
      }

      this.getDistricts();
      this.getdata();
    },
    submit_delete_officer() {
      this.admin_data_array = [];
      this.pushing_array = [];
      for (var i = 0; i < this.user_data.length; i++) {
        if (this.officer_id === this.user_data[i].id) {
          this.admin_data_array.push(this.user_data[i]);
        }
      }
      for (i = 0; i < this.district_details.length; i++) {
        for (var j = 0; j < this.circle_details.length; j++) {
          if (
            this.district_name == this.district_details[i].district_name &&
            this.circle_name == this.circle_details[j].circle_name
          ) {
            this.pushing_array.push(this.circle_details[j]);
            this.circle_id = this.circle_details[j].id;
            this.admin_data_array[0].current_place = [];
            this.pushing_array[0].current_officer_id = "";
            this.$http
              .put(
                process.env.VUE_APP_URL +
                  "/api/circles_details/" +
                  this.circle_id,
                this.pushing_array[0]
              )
              .then(function(res) {
                console.log("response from list of circles : ", res);
              })
              .catch(function(error) {
                console.log("Error : ", error);
              });
            this.$http
              .put(
                process.env.VUE_APP_URL +
                  "/api/user_details/" +
                  this.officer_id,
                this.admin_data_array[0]
              )
              .then(function(res) {
                console.log("response form user details : ", res);
              })
              .catch(function(error) {
                console.log("error in user details :", error);
              });
            this.getdata();
            this.getDistricts();
          } else {
          }
        }
      }

      this.getDistricts();
      this.getdata();
    }
  }
};
</script>
