<template>
    <div>
        <div  class=" site-hero2 overlay" style="padding-top:120px;" >
        
        <div class="container-fluid">
         
                <form v-if="complaintArea === true && suggestionArea === false" class="animated bounceInDown">
                   <h1 style="color:black;padding-left: 20px;text-align:center;padding-bottom:2%;">{{formElements}}</h1>
                  <div  class="row">
                    <div class="col-lg-4 offset-lg-2 ">
                      <div class="form-group">
                        <input type="text" placeholder="FIRST NAME"  v-model="first_name" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-lg-4 ">
                      <div class="form-group">
                        <input type="text"  placeholder="LAST NAME"  v-model="last_name" class="form-control" required>
                      </div>
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 offset-lg-2 ">
                      <div class="form-group">
                        <input type="text" placeholder="EMAIL ID" v-model="email_id" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-lg-4 ">
                      <div class="form-group">
                        <input type="text" placeholder="MOBILE NUMBER" v-model.number="mobile_number" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 offset-lg-2 ">
                      <div class="form-group">
                        <textarea style="margin-top: 29px;" type="text" placeholder="ADDRESS OF COMPLAINEE" v-model="address_of_complainee" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-4 ">
                       <div class="form-group" >
                        <label class="label">District of Hotel</label>
                        <input v-if="this.$route.query.data" type="text" v-model="districtOfHotel" class="form-control" readonly>
                        <select v-else  class="form-control" @change="findCircleName()"  v-model="district_of_hotel" required>
                            <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                        </select>
                      </div>
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 offset-lg-2 ">
                      <div class="form-group" >
                        <label class="label" >Circle of hotel</label>
                        <input v-if="this.$route.query.data" type="text" v-model="circleOfHotel" class="form-control" readonly>
                        <select v-else class="form-control" @focus="checkFormValidationCircle()" @change="findHotelName()" v-model="circle_of_hotel"  required>
                            <option v-for="(i,index) in circle_details_complete" :key="index">{{i}}</option>
                        </select>
                        <span :class="{ColorRed:cerror}">{{cmessage}}</span>
                      </div>
                    </div>
                    <div class="col-lg-4 " >
                      <div class="form-group" >
                        <label class="label" >Name of Hotel</label>
                        <input v-if="this.$route.query.data" type="text" v-model="nameOfHotel" class="form-control" readonly>
                        <select v-else class="form-control" @focus="checkFormValidationHotel()" v-model="name_of_hotel" required>
                            <option v-for="(i,index) in selected_hotels" :key="index">{{i}}</option>
                        </select>
                        <span :class="{ColorRed:herror}">{{hmessage}}</span>
                      </div>
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 offset-lg-2 " >
                     <div class="form-group">
                        <label class="label">Category of Complaint</label>
                        <select class="form-control" v-model="category_of_complaint" required>
                            <option>1. Cleanliness Issue</option>
                            <option>2. Staff Behaviour</option>
                            <option>3. High Rates</option>
                            <option>4. Poor Food Quality</option>
                            <option>5. Hygiene</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4 ">
                      <div class="form-group">
                        <textarea style="margin-top: 29px;" placeholder="DETAILS OF COMPLAINT" v-model="details_of_complaint" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-lg-8 offset-lg-2 ">
                      <div class="form-group">
                        <label class="label">Input the images:</label>
                        <input type="file" placeholder="SELECT PROOF OF COMPLAINT" @change="onFileChange" name="proof_of_complaint" class="form-control" required>
                      </div>
                    </div>
                    </div>
                  <br>
                  </form>
                  <!-- suggestion form -->
                  <form v-else-if="suggestionArea === true && complaintArea === false" class="animated bounceInDown">
                    <h1 style="color:black;padding-left: 20px;text-align:center;padding-bottom:2%;">{{formElements}}</h1>
                      <div  class="row">
                        <div class="col-lg-4 offset-lg-2 ">
                          <div class="form-group" >
                                <label class="label"> District of Hotel</label>
                                  <select class="form-control" @change="findName()" v-model="district_of_hotel" required>
                                    <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                                  </select>
                              </div>
                        </div>
                        <div class="col-lg-4 padding-top-20px">
                          <div class="form-group">
                              <input type="text" placeholder="Name of Suggesting person" v-model="name_of_suggesting_person" class="form-control" required>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 offset-lg-2 ">
                          <div class="form-group" >
                                  <label class="label">Circle of Hotel</label>
                                  <select class="form-control"  v-model="circle_of_hotel"  required>
                                    <option  v-for="(i,index) in circle_details" :key="index" >{{i.circle_name}}</option>
                                  </select>
                              </div>
                        </div>
                        <div class="col-lg-4  padding-top-20px" >
                          <div class="form-group">
                            <textarea placeholder="Address of suggesting person" v-model="address_of_suggesting_person" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                          <div class="form-group">
                                <input type="text" placeholder="Hotel name" v-model="name_of_hotel" class="form-control" required>
                              </div>
                        </div>
                      </div>
                    </form>
          
                    <div class="row">
                      <div class=" col-lg-12 text-align-center"  style="padding-bottom: 20px;">
                          <button class="btn btn-success btn-custom-style-rounded" @click="submitForm()" :disabled="disabledbutton" data-dismiss="modal">SUBMIT</button>
                      </div>
                      </div>
        </div>
            
    </div>

          
    </div>
</template>

<script>
import store from "@/store.js";

export default {
  props: {
    formElements: {
      type: String,
      twoWay: true,
      default: null
    }
  },
  data() {
    return {
      first_name: null,
      last_name: null,
      mobile_number: null,
      district_id: null,
      email_id: null,
      address_of_complainee: null,
      district_of_hotel: null,
      circle_of_hotel: null,
      name_of_hotel: null,
      category_of_complaint: null,
      details_of_complaint: null,
      proof_of_complaint: null,
      disabledbutton: false,
      circle_details: [],
      district_details: [],
      selected_hotels: [],
      hotel_details: [],
      circle_details_complete: [],
      complaintArea: false,
      suggestionArea: false,
      address_of_suggesting_person: null,
      name_of_suggesting_person: null,
      districtOfHotel: null,
      circleOfHotel: null,
      nameOfHotel: null,
      data: [],
      cerror: false,
      cmessage: "",
      herror: false,
      hmessage: ""
    };
  },
  beforeMount() {
    this.getDetails().then(data => {
      this.district_details = data.dis;
      this.circle_details = data.cir;
      this.hotel_details = data.hot;
    });
  },

  mounted() {
    if (this.formElements === null) {
      this.formElements = "COMPLAINT FORM";
      this.complaintArea = true;
      this.suggestionArea = false;
      this.districtOfHotel = this.$route.query.data.place.district;
      this.circleOfHotel = this.$route.query.data.place.circle;
      this.nameOfHotel = this.$route.query.data.name;
    } else {
      this.check();
    }
  },
  updated() {
    this.check();
  },
  methods: {
    reset() {
      this.first_name = null;
      this.last_name = null;
      this.mobile_number = null;
      this.district_id = null;
      this.email_id = null;
      this.address_of_complainee = null;
      this.district_of_hotel = null;
      this.circle_of_hotel = null;
      this.name_of_hotel = null;
      this.category_of_complaint = null;
      this.details_of_complaint = null;
      this.proof_of_complaint = null;
      this.disabledbutton = false;
      this.circle_details = [];
      this.district_details = [];
      this.selected_hotels = [];
      this.hotel_details = [];
      this.circle_details_complete = [];
      this.complaintArea = false;
      this.suggestionArea = false;
      this.address_of_suggesting_person = null;
      this.name_of_suggesting_person = null;
      this.districtOfHotel = null;
      this.circleOfHotel = null;
      this.nameOfHotel = null;
      this.data = [];
      this.cerror = false;
      this.cmessage = "";
      this.herror = false;
      this.hmessage = "";
    },
    checkFormValidationCircle() {
      if (this.district_of_hotel === null) {
        this.cerror = true;
        this.cmessage = "Select district first";
      } else {
        this.cerror = false;
        this.cmessage = "";
      }
    },
    checkFormValidationHotel() {
      if (this.circle_of_hotel === null) {
        this.herror = true;
        this.hmessage = "Select circle first";
      } else {
        this.herror = false;
        this.hmessage = "";
      }
    },
    getDetails() {
      return new Promise(resolve => {
        var district,
          circle,
          hotel = [];
        this.$http
          .get(process.env.VUE_APP_URL + "/api/list_of_districts")
          .then(function(res) {
            district = res.data;
            this.$http
              .get(process.env.VUE_APP_URL + "/api/circles_details")
              .then(function(res) {
                circle = res.data;
                this.$http
                  .get(process.env.VUE_APP_URL + "/api/hotel_details")
                  .then(function(res) {
                    hotel = res.data;
                    resolve({
                      dis: district,
                      cir: circle,
                      hot: hotel
                    });
                  })
                  .catch(function(error) {
                    console.log("Hotel details unable to fetch");
                  });
              })
              .catch(function(error) {
                console.log("Circle details unable to fetch");
              });
          })
          .catch(function(error) {
            console.log("District details unable to fetch");
          });
      });
    },
    submitForm() {
      if (
        this.complaintArea === true &&
        this.suggestionArea === false &&
        !this.$route.query.data
      ) {
        for (var i = 0; i < this.hotel_details.length; i++) {
          if (
            this.hotel_details[i].name === this.name_of_hotel &&
            this.hotel_details[i].place.circle === this.circle_of_hotel
          ) {
            this.id_of_hotel = this.hotel_details[i].id;
          }
        }
        var name = this.first_name + " " + this.last_name;
        this.data.push({
          name_of_complainee: name,
          name_of_hotel: this.name_of_hotel,
          id_of_hotel: this.id_of_hotel,
          district_of_hotel: this.district_of_hotel,
          circle_of_hotel: this.circle_of_hotel,
          category_of_complaint: this.category_of_complaint,
          details_of_complaint: this.details_of_complaint,
          proof_of_complaint: this.proof_of_complaint,
          mobile_number: this.mobile_number,
          email_id: this.email_id,
          address_of_complainee: this.address_of_complainee,
          status_of_otp_validation: this.otp_validation,
          location_of_complainee: this.location_of_complainee
        });
        var val = Math.floor(1000 + Math.random() * 9000);
        this.$http
          .post(
            process.env.VUE_APP_URL + "/api/complaint_details_from_publics",
            this.data
          )
          .then(
            function(response) {
              // Success
              console.log(response.data);
            },
            function(response) {
              // Error
              console.log(response.data);
            }
          );
      } else if (
        this.complaintArea === true &&
        this.suggestionArea === false &&
        this.$route.query.data
      ) {
        for (var i = 0; i < this.hotel_details.length; i++) {
          if (
            this.hotel_details[i].name === this.name_of_hotel &&
            this.hotel_details[i].place.circle === this.circle_of_hotel
          ) {
            this.id_of_hotel = this.hotel_details[i].id;
          }
        }
        var name = this.first_name + " " + this.last_name;
        var data;
        this.data.push({
          name_of_complainee: name,
          name_of_hotel: this.nameOfHotel,
          id_of_hotel: this.id_of_hotel,
          district_of_hotel: this.districtOfHotel,
          circle_of_hotel: this.circleOfHotel,
          category_of_complaint: this.category_of_complaint,
          details_of_complaint: this.details_of_complaint,
          proof_of_complaint: this.proof_of_complaint,
          mobile_number: this.mobile_number,
          email_id: this.email_id,
          address_of_complainee: this.address_of_complainee,
          status_of_otp_validation: this.otp_validation,
          location_of_complainee: this.location_of_complainee
        });
        console.log("final data : ", this.data);
        var val = Math.floor(1000 + Math.random() * 9000);
        this.$http
          .post(
            process.env.VUE_APP_URL + "/api/complaint_details_from_publics",
            this.data
          )
          .then(
            function(response) {
              // Success
              console.log(response.data);
            },
            function(response) {
              // Error
              console.log(response.data);
            }
          );
      } else if (
        this.complaintArea === false &&
        this.suggestionArea === true &&
        !this.$route.query.data
      ) {
        var name = this.first_name + " " + this.last_name;
        this.data.push({
          name_of_hotel: this.name_of_hotel,
          district_of_hotel: this.district_of_hotel,
          circle_of_hotel: this.circle_of_hotel,
          name_of_suggesting_person: this.name_of_suggesting_person,
          address_of_suggesting_person: this.address_of_suggesting_person
        });
        this.$http
          .post(
            process.env.VUE_APP_URL + "/api/suggestion_details_from_publics",
            this.data
          )
          .then(
            function(response) {
              // Success
              console.log(response.data);
            },
            function(response) {
              // Error
              console.log(response.data);
            }
          );
      } else {
        alert("Error! Please Refresh");
      }
    },
    check() {
      this.formElements = this.$route.query.value;
      if (this.formElements === "COMPLAINT FORM") {
        this.complaintArea = true;
        this.suggestionArea = false;
      } else if (this.formElements === "SUGGESTION FORM") {
        this.suggestionArea = true;

        this.complaintArea = false;
      }
    },
    //file to base64
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.createImage(files[0]);
    },
    createImage(file) {
      var proof_of_complaint = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.proof_of_complaint = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    //Function to fetch the circle name which is under selected district
    findCircleName() {
      this.circle_details_complete = [];
      for (var i = 0; i < this.district_details.length; i++) {
        if (this.district_of_hotel === this.district_details[i].district_name) {
          this.district_id = this.district_details[i].id;
        }
      }
      for (var i = 0; i < this.circle_details.length; i++) {
        if (this.district_id === this.circle_details[i].district_id) {
          this.circle_details_complete.push(this.circle_details[i].circle_name);
        }
      }
    },
    //Function to fetch the hotel name which is under selected circle
    findHotelName() {
      this.selected_hotels = [];
      var array = [];
      for (var i = 0; i < this.hotel_details.length; i++) {
        if (
          this.hotel_details[i].place.district === this.district_of_hotel &&
          this.hotel_details[i].place.circle === this.circle_of_hotel
        ) {
          array.push(this.hotel_details[i].name);
        }
      }
      this.selected_hotels = array;
    }
  }
};
</script>
<style lang="scss">
@import "../assets/css/style.css";
@import "../assets/css/animate.css";
.btn-custom-style-rounded {
  border-radius: 25px !important;
  padding-bottom: 10px !important;
  padding-right: 18px !important;
}
.site-hero2 {
  background-image: url(../assets/images/big_image_1.jpg) !important;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
.label {
  color: white;
  font-size: 25px;
}
.site-hero2.overlay {
  position: relative;
}

.site-hero2.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero2.overlay h1,
.site-hero.overlay p {
  color: #fff;
}
.ColorRed {
  color: red;
  font-size: 30px;
}
</style>
