<template>
  <div class="row">
    <div class="col-lg-12 margin-top-75px border-1px">
      <breadcrum :currentlink = "link" />
      <dataaboutapp />
      <br>
      <div  class="card">
        <div class="card-title">
          <h5>Admin List</h5>
          <div class="card-body">
            <table class="table table-bordered text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
              <thead>
                <tr style="background-color: #afadad;">
                  <th>Admin Name</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>District</th>
                </tr>
              </thead>
              <tbody v-if="datacontent===true">
                <tr v-for="(data,i) in user_data" :key="i" v-if="data.user_type === 'admin'">
                  <td @click="setProfile(data)" data-toggle="modal" data-target="#formmodal1">{{data.name}}</td>
                  <td>{{data.username}}</td>
                  <td>{{data.password}}</td>
                  <td>{{data.current_place[0]}}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="4"><h3 text-align-center>No Admins Found</h3></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div id = "formmodal1" class="modal font-style-sirin-stencil " tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                   <div class="modal-header">
                        <h3 class="modal-title "><strong>PROFILE</strong></h3><button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body ">
                      <div class="row">
                        <div class="col-lg-6">
                          Name : {{name}}<br />
                          User Name : {{username}}<br />
                          District : {{district}}<br />
                          Password : {{password}}<br />
                          Mobile Number ; {{mb_no}}<br />
                          Email ID : {{email_id}}
                        </div>
                        <div class="col-lg-6">

                          <img class="img-thumbnail img-fluid" :src="image" alt="No image found">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import breadcrum from './breadcrum.vue'
import dataaboutapp from './dataaboutapp.vue'

export default {
  components: {
    breadcrum,
    dataaboutapp
  },
  props: {
    link: {
      type: Array
    }
  },
  data () {
    return {
      user_data: [],
      datacontent: false,
      name: null,
      username: null,
      district: null,
      image: null,
      email_id: null,
      mb_no: null,
      id: null,
      password: null
    }
  },
  mounted () {
    this.getadmindata()
  },
  methods: {
    getadmindata () {
      this.$http
        .get(process.env.VUE_APP_URL+ '/api/user_details')
        .then(function (res) {
          console.log('user data', res.data)
          if (res.data.length > 0) {
            this.datacontent = true
          }
          this.user_data = []
          for (var i = 0; i < res.data.length; i++) {
            this.user_data.push(res.data[i])
          }
          //  console.log("user_data[i]", this.user_data)
        })
    },
    setProfile (user) {
      this.name = user.name
      this.username = user.username
      this.district = user.current_place[0]
      this.image = user.photo
      this.email_id = user.email_id
      this.mb_no = user.mb_no
      this.id = user.id
      this.password = user.password
    }
  }
}
</script>
