<template>
  <div class="row">
    <div class="col-lg-12 margin-top-75px border-1px">
      <breadcrum :currentlink = "link" />
      <dataaboutapp />
      <br>
      <div v-if="historyarea === true" class="card">
        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title"><strong>History</strong></h5>
            <div class="row">
              <div class="col-lg-12">
                <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
                  <thead>
                    <tr>
                      <th>Admin Name</th>
                      <th>District</th>
                      <th>Circle</th>
                      <th>Action Done</th>
                    </tr>
                  </thead>
                  <tbody v-if="datacontenthistory===true">

                    <tr style="background-color: #afadad;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="4"><h3 text-align-center>No History Found</h3></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="create_admin === true" class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Create Admins</h5>
          </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" v-model="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" v-model="email_id" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" @change="generatePassword()" v-model="username " placeholder="Enter Username">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" v-model="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" v-model="mb_no" placeholder="Enter Mobile Number">
                </div>
                 <div class="form-group">
                      <span class="form-group-btn">
                          <span class="btn btn-default btn-file">
                              <img id='img-upload'/>
                              <input class="form-control" @change="onFileChange" type="file" id="imgInp">
                          </span>
                      </span>
                  </div>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 offset-lg-5">
                <button class="btn btn-success text-align-center" @click="createadminsubmit()">Submit</button>
              </div>
              <div v-if="data_alert === true" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>New Admin {{name}} is created </strong>
                <h5><strong>Username : </strong>{{username}}</h5>
                <h5><strong>Password : </strong>{{password}}</h5>
                <h5>The username and password is shared with email and mobile number</h5>
              </div>
            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="district_create === true" class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Create District</h5>
          </div>
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                <div class="form-group">
                  <input type="text" v-model="newdistrictname" placeholder="District name" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 offset-lg-5">
                <button class="btn btn-success text-align-center" @click="createdistrictsubmit()">Submit</button>
              </div>
              <div v-if="data_alert === true" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>New District  {{newdistrictname}} is created </strong>
              </div>
            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="circle_create === true" class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Create Circle</h5>
          </div>
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                District Of new Circle :
                <div class="form-group" >
                    <select class="form-control"  v-model="district_of_new_circle" required>
                        <option value="" selected disabled>DISTRICT LIST</option>
                        <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                    </select>
                  </div>
                <div class="form-group">
                  <input type="text" v-model="newcirclename" placeholder="District name" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 offset-lg-5">
                <button class="btn btn-success text-align-center" @click="createcirclesubmit()">Submit</button>
              </div>
              <div v-if="data_alert === true" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>New District  {{newcirclename}} is created </strong>
              </div>
            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="create_officer === true" class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Create Officers</h5>
          </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" v-model="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" v-model="email_id" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" @change="generatePassword()" v-model="username " placeholder="Enter Username">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" v-model="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" v-model="mb_no" placeholder="Enter Mobile Number">
                </div>
                 <div class="form-group">
                      <span class="form-group-btn">
                          <span class="btn btn-default btn-file">
                              <img id='img-upload'/>
                              <input class="form-control" @change="onFileChange" type="file" id="imgInp">
                          </span>
                      </span>
                  </div>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 offset-lg-5">
                <button class="btn btn-success text-align-center" @click="createofficersubmit()">Submit</button>
              </div>
              <div v-if="data_alert === true" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>New Officer {{name}} is created </strong>
                <h5><strong>Username : </strong>{{username}}</h5>
                <h5><strong>Password : </strong>{{password}}</h5>
                <h5>The username and password is shared with email and mobile number</h5>
              </div>
            </div>
        </div>
        <br>
      </div>
      <br>
      <div v-if="reassignadmin === true"  class="card">
        <div class="card-title">
          <h5>Reassign And Delete Admins</h5>
          <div class="card-body">
            <strong><i class="fa fa-user-o">:- Assign</i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash-o"> :- Delete Admin</i></strong>
            <div class="row">
              <div class="col-lg-12">
                <table class="table table-bordered table-scroll-fixed text-align-center" style="border: 1px solid; border-color:  #000000; border-radius:  10px;">
                  <thead>
                    <tr style="background-color: #afadad;">
                      <th>Admin Name</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>District</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody v-if="datacontentreassign===true" @load="getadmindata(),getDistricts()">
                    <tr v-for="(data,i) in user_data" :key="i" v-if="data.user_type === 'admin'">
                      <td>{{data.name}}</td>
                      <td>{{data.username}}</td>
                      <td>{{data.password}}</td>
                      <td>{{data.current_place[0]}}</td>
                      <td><strong><i class="fa fa-user-o" @click="assignadmin(data.id,data.name,data.current_place[0])" data-toggle="modal" data-target="#modal">&nbsp;/&nbsp;&nbsp;</i>&nbsp;&nbsp;<i class="fa fa-trash-o" @click="deleteadmin(data.id,data.name,data.current_place)" data-toggle="modal" data-target="#modal"></i></strong></td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="5"><h3 text-align-center>No Admins Found</h3></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header ">
              <h5 class="modal-title text-align-center" id="exampleModalLabel">{{modal_title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- assign admin -->
            <div v-if="modal_display_value === 'assign'" >
              <!-- <div v-if="district_name_value === true" class="modal-body alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong>Sorry! admin is already under a district, please delete the admin to continue</strong>
              </div> -->
              <div class="modal-body" >
                <div class="form-group">
                    Admin Name :
                    <input type="text" class="form-control" :placeholder="admin_name_for_assign">
                    District :
                    <select class="form-control" v-model="district_name" required>
                      <option value="" selected disabled>DISTRICT</option>
                      <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                    </select>
                </div>
              <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="submit_assign_admin(),getadmindata()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- delete admins -->
            <div v-if="modal_display_value === 'delete'" >
              <div class="modal-body" v-if="district_name">
                <div class="form-group">
                  Admin Name :
                  <input type="text" class="form-control" :placeholder="admin_name_for_assign">
                  District :
                  <input class="form-control" type="text" :placeholder="district_name">
                  <!-- <select class="form-control" v-model="district_name" required>
                    <option value="" selected disabled>DISTRICT</option>
                    <option  v-for="(i,index) in district_details" :key="index" >{{i.district_name}}</option>
                  </select> -->
                </div>
                <div class="modal-footer text-align-center">
                <div class="row">
                  <div class="col-lg-12  text-align-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="submit_delete_admin(),getadmindata()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
              </div>
              <div v-else class="modal-body alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong>Sorry! No Districts available</strong>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import breadcrum from './breadcrum.vue'
import dataaboutapp from './dataaboutapp.vue'
export default {
  components: {
    breadcrum,
    dataaboutapp
  },
  data () {
    return {
      datacontenthistory: false,
      datacontentreassign: false,
      district_name_value: false,
      district_of_new_circle: null,
      newcirclename: null,
      newdistrictname: null,
      name: null,
      email_id: null,
      username: null,
      password: null,
      mb_no: null,
      photo: null,
      data_alert: false,
      user_data: [],
      user_data_for_push: [],
      district_name: null,
      modal_title: null,
      admin_name_for_assign: null,
      district_details: [],
      district_of_assigning: null,
      admin_id: null,
      district_id: null,
      admin_data_array: [],
      pushing_array: [],
      modal_display_value: null
    }
  },
  props: {
    link: {
      type: Array
    },
    create_admin: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    circle_create: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    district_create: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    create_officer: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    historyarea: {
      type: Boolean,
      twoWay: true,
      default: true
    },
    reassignadmin: {
      type: Boolean,
      twoWay: true,
      default: false
    },
    hotellist: {
      type: Boolean,
      twoWay: true,
      default: false
    }
  },
  mounted () {
    this.getadmindata()
    this.getDistricts()
    $(document).ready(function () {
      $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
          label = input
            .val()
            .replace(/\\/g, '/')
            .replace(/.*\//, '')
        input.trigger('fileselect', [label])
      })

      $('.btn-file :file').on('fileselect', function (event, label) {
        var input = $(this)
            .parents('.input-group')
            .find(':text'),
          log = label

        if (input.length) {
          input.val(log)
        } else {
          if (log) console.log(log)
        }
      })
      function readURL (input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader()

          reader.onload = function (e) {
            $('#img-upload').attr('src', e.target.result)
          }

          reader.readAsDataURL(input.files[0])
        }
      }

      $('#imgInp').change(function () {
        readURL(this)
      })
    })
  },
  methods: {
    createofficersubmit () {
      var data = {
        name: this.name,
        'email-id': this.email_id,
        username: this.username,
        password: this.password,
        mb_no: this.mb_no,
        user_type: 'officer',
        current_place: [],
        photo: this.photo
      }
      // console.log("data => ", data)
      this.$http
        .post(process.env.VUE_APP_URL+ '/api/user_details', data)
        .then(function (res) {
          console.log('admin creation successfull', res.data)
          this.data_alert = true
          this.getadmindata()
        })
        .catch(function (error) {
          console.log('Error:', error)
        })
    },
    createdistrictsubmit () {
      var value_data = {
        'district_name': this.newdistrictname,
        'current_admin_id': '',
        'old_admin_id': []
      }
      this.$http.put(process.env.VUE_APP_URL+ '/api/list_of_districts', value_data)
        .then(function (res) {
          console.log('response after new district submit ===>', res)
        })
        .catch(function (err) {
          console.log('Error ===>', err)
        })
    },
    createcirclesubmit () {
      if (this.district_details.length != 0) {
        for (var i = 0; i < this.district_details.length; i++) {
          if (this.district_of_new_circle === this.district_details[i].district_name) {
            var district_id_for_circle = this.district_details[i].id
          }
        }
      }
      var value_data = {
        'circle_name': this.newcirclename,
        'district_id': district_id_for_circle,
        'current_admin_id': '',
        'old_admin_id': []
      }
      this.$http.put(process.env.VUE_APP_URL+ '/api/circles_details', value_data)
        .then(function (res) {
          console.log('response after new circle submit')
        })
        .catch(function (err) {
          console.log('Error ===>', err)
        })
    },
    getadmindata () {
      this.$http.get(process.env.VUE_APP_URL+ '/api/user_details')
        .then(function (res) {
          console.log('user data', res.data)
          if (res.data.length > 0) {
            this.datacontentreassign = true
          }
          this.user_data = []
          for (var i = 0; i < res.data.length; i++) {
            this.user_data.push(res.data[i])
          }
          //  console.log("user_data[i]", this.user_data)
        })
    },
    submit_assign_admin () {
      var current_place_flag = 0
      var admin_flag = 0
      var district_flag = 0
      this.admin_data_array = []
      this.pushing_array = []
      if (this.user_data.length != null) {
        for (var i = 0; i < this.user_data.length; i++) {
          if (this.user_data[i].user_type === 'admin') {
            if (this.user_data[i].current_place != this.district_name ) {
              console.log(i, 'current place', this.user_data[i].current_place, this.district_name)
              if (this.admin_id == this.user_data[i].id) {
                this.admin_data_array.push(this.user_data[i])
                if (this.district_details.length != null) {
                  for (var j = 0; j < this.district_details.length; j++) {
                    if (this.district_name === this.district_details[j].district_name) {
                      this.pushing_array.push(this.district_details[j])
                      this.district_id = this.district_details[j].id
                      this.admin_data_array[0].current_place = []
                      this.admin_data_array[0].current_place.push(this.district_name)
                      this.pushing_array[0].current_admin_id = this.admin_id
                      console.log(j, 'final details to push ===>', this.admin_data_array[0], this.pushing_array[0])
                      this.$http.put(process.env.VUE_APP_URL+ '/api/list_of_districts/' + this.district_id, this.pushing_array[0])
                        .then(function (res) {
                          console.log('response from list of districts : ', res)
                        })
                        .catch(function (error) {
                          console.log('Error : ', error)
                        })
                      this.$http
                        .put(
                          process.env.VUE_APP_URL+ '/api/user_details/' + this.admin_id,
                          this.admin_data_array[0]
                        )
                        .then(function (res) {
                          console.log('response form user details : ', res)
                        })
                        .catch(function (error) {
                          console.log('error in user details :', error)
                        })
                      this.getadmindata()
                      this.getDistricts()
                      break
                    } else {
                      district_flag = 1
                      console.log('district names are not equal')
                    }
                  }
                } else {
                  console.log('District Cannot fetch from server !! Please check the server')
                }
              } else {
                admin_flag = 1
                console.log('admin id != user id')
              }
            } else {
              current_place_flag = 1
              console.log('District is already assigned to a Admin !!! Please select another district')
              break
            }
          } else {
            console.log('Not admin')
          }
        }
      } else {
        console.log('User Data Cannot fetch from server !! Please check the server')
      }

    },
    submit_delete_admin () {
      this.admin_data_array = []
      this.pushing_array = []
      console.log(this.user_data.length)
      if (this.user_data.length != null) {
        for (var i = 0; i < this.user_data.length; i++) {
          if (this.user_data[i].user_type === 'admin') {
            if (this.admin_id == this.user_data[i].id) {
              if (this.user_data[i].current_place.length != 0) {
                this.admin_data_array.push(this.user_data[i])
                console.log('admin array ===>', this.admin_data_array[0])
                if (this.district_details.length != null) {
                  for (var j = 0; j < this.district_details.length; j++) {
                    if (this.district_name[0] === this.district_details[j].district_name) {
                      this.pushing_array.push(this.district_details[j])
                      this.district_id = this.district_details[j].id
                      console.log('pushing array', this.pushing_array[0])
                      this.admin_data_array[0].current_place = []
                      this.pushing_array[0].current_admin_id = ''
                      this.pushing_array[0].old_admin_id.push(this.admin_id)
                      console.log('value ==> ', this.pushing_array[0], this.admin_data_array[0])
                      this.$http
                        .put(
                          process.env.VUE_APP_URL+ '/api/list_of_districts/' + this.district_id,
                          this.pushing_array[0]
                        )
                        .then(function (res) {
                          console.log('response from list of districts : ', res)
                        })
                        .catch(function (error) {
                          console.log('Error : ', error)
                        })
                      this.$http
                        .put(
                          process.env.VUE_APP_URL+ '/api/user_details/' + this.admin_id,
                          this.admin_data_array[0]
                        )
                        .then(function (res) {
                          console.log('response form user details : ', res)
                        })
                        .catch(function (error) {
                          console.log('error in user details :', error)
                        })
                      this.getDistricts()
                      this.getadmindata()
                    } else {
                      console.log('District name doent match')
                    }
                  }
                } else {
                  console.log(i, 'District details Cannot fetch from server !! Please check the server')
                }
              } else {
                console.log('Selected admin is not under any region kindly add a region')
              }
            } else {
              console.log(i, 'admin id doesnt match')
            }
          } else {
            console.log(i, 'not admin')
          }
        }
      } else {
        console.log('User Data Cannot fetch from server !! Please check the server')
      }
    },
    getDistricts () {
      this.$http
        .get(process.env.VUE_APP_URL+ '/api/list_of_districts')
        .then(function (response) {
          this.district_details = response.data
          for (var i = 0; i < this.district_details.length; i++) {
            // console.log(this.district_details[i].district_name)
          }
        })
        .catch(function (error) {
          console.log('Error:', error)
        })
    },
    assignadmin (id, name, district_name) {
      this.modal_title = 'Assign Admin'
      this.modal_display_value = 'assign'
      this.district_name = district_name
      this.district_name_value = true
      this.admin_name_for_assign = name
      this.admin_id = id
    },
    deleteadmin (id, name, district_name) {
      console.log('delete ===>', id, name, district_name)
      this.modal_title = 'Delete Admin'
      this.modal_display_value = 'delete'
      this.district_name = district_name
      this.district_name_value = false
      this.admin_name_for_assign = name
      this.admin_id = id
    },
    createadminsubmit () {
      var data = {
        name: this.name,
        'email-id': this.email_id,
        username: this.username,
        password: this.password,
        mb_no: this.mb_no,
        user_type: 'admin',
        photo: this.photo
      }
      // console.log("data => ", data)
      this.$http
        .post(process.env.VUE_APP_URL+ '/api/user_details', data)
        .then(function (res) {
          console.log('admin creation successfull', res.data)
          this.data_alert = true
          this.getadmindata()
        })
        .catch(function (error) {
          console.log('Error:', error)
        })
    },
    generatePassword () {
      var length = 8,
        charset =
          'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
        retVal = ''
      for (var i = 0, n = charset.length; i < length; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n))
      }
      this.password = retVal
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      this.createImage(files[0])
    },
    createImage (file) {
      var photo = new Image()
      var reader = new FileReader()
      var vm = this

      reader.onload = e => {
        vm.photo = e.target.result
      }
      reader.readAsDataURL(file)
      console.log('photo => ', this.photo)
    }
  }
}
</script>
<style lang="scss" scoped>
.form-group {
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 10px;
}

</style>
